/* uxghks Text Styles */
.T1000 {
    /* min-height: calc(var(--size-10)  2 + var(--font-17) + var(--size-2)  2); */
    align-items: center;
    font-weight: 800;
    flex: 0 0 var(--size-80);
    text-align: right;
    margin-right: var(--size-20);
    /* margin-top: var(--size-10); */

}

.C1000.isTopFitted .T1000 {
    margin-top: var(--size-10);
}

.T1001 {
    /* margin-left: var(--size-20); */
    position: relative;
    align-items: center;
    font-weight: 800;
    /* border: var(--size-2) solid var(--color-black-25); */
    background-color: var(--color-white-3);
    /* color: var(--color-white); */
    font-size: var(--font-17);
    padding: 0 var(--size-20);
    border-radius: var(--size-15);
    width: var(--size-425);
    /* margin-left: var(--size-10); */
    line-height: var(--size-50);
    
    
}

.T1001:focus {
    outline: none;
    /* border: var(--size-1) solid var(--color-blue-75); */
}

.T1002{
    color: var(--color-white);
    font-size: var(--font-17);
    padding: 0 var(--size-20);
    border-radius: var(--size-15);
    border: var(--size-2) solid var(--color-white-25);
    background-color: var(--color-white-7);
    width: var(--size-200);
    /* margin-left: var(--size-10); */
    line-height: var(--size-46);
}

.T1002.isLong {
    width: var(--size-290);
    margin-left: var(--size-10);
}

.T1002:focus {
    outline: none;
    border: var(--size-2) solid var(--color-blue-75);

}

.T1003{
    font-size: var(--font-17);
    font-weight: 800;
    color: var(--color-black);
    margin: 0;
    white-space: nowrap;
}


.T1004 {
    /* 2. 디자인: 글자 크기 */
    font-size: var(--font-15);
    font-weight: 800;

    /* 3. 여백 */
    padding-right: var(--size-10);
}


/* 에러메시지 */
.T1005 {
    position: absolute; /* 흐름에서 제외되어 다른 요소를 밀어내지 않음 */
    top: 100%;          /* input 박스 바로 아래 끝 지점 */
    left: var(--size-12);
    margin-top: var(--size-2);
    color: var(--color-red);
    font-size: var(--size-15);
    display: none;      /* 평소엔 숨김 */
}

.T1006{
    color: var(--color-white-50);
    font-size: var(--font-15);
    
}

/* 팝업 제목 */
.T1007{
    font-size: var(--font-27);
    font-weight: 700;
    color: var(--color-white);
    margin-left: var(--size-40);
    margin-right: var(--size-8);
}

/* 등록완료 버튼 텍스트 */
.T1008{
    color: var(--color-white);
    font-size: var(--font-21);
    margin-right: var(--size-30);
}