/* uxghks Component Styles */

/* 신규고객 등록  */
.C1000 {
    /* gap: var(--size-30); */
    /* flex-flow: wrap; */
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    font-size: var(--font-17);
    row-gap: var(--size-20);
}

.C1000.isTopFitted {
    align-items: flex-start;
}


.C1001 {
    position: absolute;
    background: linear-gradient(to right, var(--color-black-50), var(--color-black-75));
    backdrop-filter: blur(var(--size-5));
    right: calc(-1 * var(--size-65));
    bottom: var(--size-20);
    width: var(--size-180);
    height: var(--size-60);
    border-radius: var(--size-20);
    box-shadow: 0 var(--size-10) var(--size-35) var(--color-black-50);
    transform: translateX(var(--size-40));
    opacity: 0;
    transition: .3s;
    z-index: 1;
}

.C1002 {
    width: 100%;
    border-top: var(--size-2) solid var(--color-black-3);
    margin: var(--size-10) var(--size-20) 0;
    padding-top: var(--size-10);
    display: none;
}

.C1003 {
    display: 'flex';
    flexDirection: 'column';
    gap: 'var(--size-30)';
}

.C1004 {
    display: flex;
    align-items: center;
    flex: 1;                   /* 부모 너비 전체 사용 */
    /* background-color: #4a4a5a; 입력창과 같은 배경색 */
    border-radius: var(--size-15);
    padding-right: 5px;        /* 버튼과 끝부분 간격 */
}

/* 주황색 버튼 */
.C1005 {
    background: linear-gradient(to right, var(--color-yellow), var(--color-red)); /* 주황색 그라디언트 */
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: bold;
    white-space: nowrap;
    margin-left: calc(-1 * var(--size-20));
    margin-right: calc(1.11 * var(--size-20));
    padding: 0 var(--size-20);
    font-size: var(--font-15);
    text-align: center;
    line-height: var(--size-50);
}

/* 왼쪽 컨테이너 */
.C1006 {
    height:100%;
    overflow: hidden;
    border-radius: var(--size-30);
    padding-top: var(--size-10);
    padding-left: var(--size-30);
    padding-right: var(--size-30);

}

.C1007 {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--size-30);
    padding: var(--size-5);
    margin-bottom: var(--size-10);
    margin-left: var(--size-30);
    box-sizing: border-box;  /* 추가 */

    /* max-width: 100%; */
}



/* 드랍다운 */
.C1008 {
/* 1. 레이아웃: 가로로 배치하고 양 끝으로 밀기 */
display: flex;
justify-content: space-between;
align-items: center;

/* 2. 크기 및 여백 */
width: var(--size-200); /* 원하는 너비로 조절 */
padding: var(--size-10) var(--size-15) var(--size-10) var(--size-20);

/* 3. 디자인: 배경색, 곡률, 글자색 */
background-color: var(--color-white-25); /* 이미지의 배경색 느낌 */
border-radius: var(--size-15);       /* 둥근 모서리 */
color: var(--color-white);              /* 글자 및 아이콘 색상 */
font-size: var(--font-17);

/* 4. 기타 */
cursor: pointer;
box-sizing: border-box;
/* margin-left: var(--size-10); */
text-align: center;
}

/* 점선 */
.C1009 {
    border-top: var(--size-2) dashed var(--color-white-25); /* 동글동글한 점선 */
    margin-left: var(--size-30);
    margin-top: var(--size-30);
    margin-right: var(--size-30);
}


/* 검은색 버튼 */
.C1010 {
    background: linear-gradient(to right, var(--color-black-50), var(--color-black-75)); /* 검은색 그라디언트 */
    border: none;
    border-radius: var(--size-15);
    color: var(--color-white);
    font-weight: bold;
    white-space: nowrap;
    margin-left: calc(-1.11 * var(--size-65));
    /* margin-left: calc(-1 * var(--size-65)); */
    padding: 0 var(--size-20);
    font-size: var(--font-17);
    text-align: center;
    line-height: var(--size-50);
}

/* 그라디언트 체크박스 */
.C1011 {
    margin-left: calc(1.1 * var(--size-70));
}

.C1012 {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--size-30);
    padding: var(--size-5);
    margin-bottom: var(--size-10);
    margin-left: var(--size-30);
    box-sizing: border-box;  /* 추가 */
}


.C1013 {
    /* font-weight: 800; */
    /* 경계선 */
    border: var(--size-2) dashed var(--color-white-25);
    border-radius: var(--size-15);

    /* 크기 */
    width: var(--size-280);
    height: var(--size-170);
    background-color: var(--color-white-3);

    /* 여백 */
    margin-left: var(--size-20);
    align-items: center;
    justify-content: center;
    display: flex;
}


.C1014 {
    /* line-height: var(--size-50); */
    /* padding-top: var(--size-35); */
    margin-left: var(--size-10);
    /* column-gap: var(--size-35); */
}

.C1015 {
    margin-top: var(--size-35);
    display: flex;
    align-items: center;
}

.C1016 {
/* 1. 레이아웃: 가로로 배치하고 양 끝으로 밀기 */
display: flex;
justify-content: space-between;
align-items: center;

/* 2. 크기 및 여백 */
width: var(--size-200); /* 원하는 너비로 조절 */
padding: var(--size-10) var(--size-15) var(--size-10) var(--size-20);

/* 3. 디자인: 배경색, 곡률, 글자색 */
background-color: var(--color-white-3); /* 이미지의 배경색 느낌 */
border-radius: var(--size-15);       /* 둥근 모서리 */
/* border-color: var(--color-white-3); */
border: var(--size-2) solid var(--color-white-25);
color: var(--color-white);              /* 글자 및 아이콘 색상 */
font-size: var(--font-17);

/* 4. 기타 */
cursor: pointer;
box-sizing: border-box;
/* margin-left: var(--size-10); */
text-align: center;
}

/* C1017 */
.C1017 {
    display: flex;
}

/* 체크박스 Wrapper */
.C1018 {
    display: flex;
    flex-wrap: wrap; /* 여기서 줄바꿈 발생 */
    column-gap: var(--size-10);
    row-gap: var(--size-20);
    flex: 1; /* 남은 가로 공간을 모두 차지하게 함 */
    /* margin-left:var(--size-10); */
}

/* 작은아이콘 */
.C1019 {
    width: var(--size-20);
    height: var(--size-20);
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--color-white);
    filter: brightness(0) invert(1);
}


/* 에러 발생 시 노출 */
.C1017.is-invalid + .C1020 {
    display: block;
}

/* 작성자 ex)홍성훈 */
.C1021 {
    display: flex;
    align-items: center;
    margin-left: var(--size-10);
    margin-top: var(--size-20);
    margin-bottom: var(--size-20);
    margin-right: var(--size-10);
    font-size: var(--font-17);
    font-weight: 800;
    color: var(--color-white);
    background-color: var(--color-white-3);
    border-radius: var(--size-15);
    padding: var(--size-10) var(--size-20);
    border: var(--size-2) solid var(--color-white-25);
}

/* 작성자 사진 */
.C1022 {
    background: url(/images/male-128.jpg) center / cover no-repeat;
    width: var(--size-40);
    height: var(--size-40);
    /* background: url(/images/female-128.jpg) center / cover no-repeat; */
    border-radius: 50%;
    /* margin: 0 auto; */
}

/* 등록하기 버튼 */
.C1023{
    /* 정렬 */
    display: flex;
    align-items: center;
    /* 크기 */
    width: var(--size-200);
    height: var(--size-70);

    /* 여백 */
    padding: var(--size-10) var(--size-15) var(--size-10) var(--size-10);
    border-radius: var(--size-15);
    background : linear-gradient(to right, var(--color-green), var(--color-blue));
    transition: .3s;
}