/* uxghks Component Styles */

/* 신규고객 등록  */
.C1000 {
    /* gap: var(--size-30); */
    /* flex-flow: wrap; */
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    font-size: var(--font-17);
    row-gap: var(--size-20);
}

.C1000.isTopFitted {
    align-items: flex-start;
}


.C1001 {
    position: absolute;
    background: linear-gradient(to right, var(--color-black-50), var(--color-black-75));
    backdrop-filter: blur(var(--size-5));
    right: calc(-1 * var(--size-65));
    bottom: var(--size-20);
    width: var(--size-180);
    height: var(--size-60);
    border-radius: var(--size-20);
    box-shadow: 0 var(--size-10) var(--size-35) var(--color-black-50);
    transform: translateX(var(--size-40));
    opacity: 0;
    transition: .3s;
    z-index: 1;
}

.C1002 {
    width: 100%;
    border-top: var(--size-2) solid var(--color-black-3);
    margin: var(--size-10) var(--size-20) 0;
    padding-top: var(--size-10);
    display: none;
}

.C1003 {
    display: 'flex';
    flexDirection: 'column';
    gap: 'var(--size-30)';
}

.C1004 {
    display: flex;
    align-items: center;
    flex: 1;                   /* 부모 너비 전체 사용 */
    /* background-color: #4a4a5a; 입력창과 같은 배경색 */
    border-radius: var(--size-15);
    padding-right: 5px;        /* 버튼과 끝부분 간격 */
}

/* 주황색 버튼 */
.C1005 {
    background: linear-gradient(to right, var(--color-yellow), var(--color-red)); /* 주황색 그라디언트 */
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: bold;
    white-space: nowrap;
    margin-left: calc(-1 * var(--size-20));
    margin-right: var(--size-15);
    padding: 0 var(--size-15);
    font-size: var(--font-17);
    text-align: center;
    line-height: var(--size-50);
}

/* 왼쪽 컨테이너 */
.C1006 {
    height:100%;
    overflow: hidden;
    border-radius: var(--size-30);
    padding-top: var(--size-10);
    padding-left: var(--size-30);
    padding-right: var(--size-30);

}

.C1007 {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--size-30);
    padding: var(--size-5);
    margin-bottom: var(--size-10);
    margin-left: var(--size-30);
    box-sizing: border-box;  /* 추가 */

    /* max-width: 100%; */
}



/* 드랍다운 */
.C1008 {
/* 1. 레이아웃: 가로로 배치하고 양 끝으로 밀기 */
display: flex;
justify-content: space-between;
align-items: center;

/* 2. 크기 및 여백 */
width: var(--size-200); /* 원하는 너비로 조절 */
padding: var(--size-10) var(--size-15) var(--size-10) var(--size-20);

/* 3. 디자인: 배경색, 곡률, 글자색 */
background-color: var(--color-white-25); /* 이미지의 배경색 느낌 */
border-radius: var(--size-15);       /* 둥근 모서리 */
color: var(--color-white);              /* 글자 및 아이콘 색상 */

/* 4. 기타 */
cursor: pointer;
box-sizing: border-box;
margin-left: var(--size-10);
}

/* 점선 */
.C1009 {
    border-top: var(--size-2) dashed var(--color-white-25); /* 동글동글한 점선 */
    margin-left: var(--size-30);
    margin-top: var(--size-30);
    margin-right: var(--size-30);
}


/* 검은색 버튼 */
.C1010 {
    background: var(--color-black); /* 주황색 그라디언트 */
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: bold;
    white-space: nowrap;
    margin-left: calc(-1 * var(--size-60));
    padding: 0 var(--size-15);
    font-size: var(--font-17);
    text-align: center;
    line-height: var(--size-50);
}

/* 그라디언트 체크박스 */
.C1011 {
    display: flex;
    align-items: center;
    margin-left: var(--size-70);
    padding: var(--size-10) var(--size-15) var(--size-10) var(--size-10);
    border-radius: var(--size-15);
    background : linear-gradient(to right, var(--color-green), var(--color-blue));
}


.C1012 {
    display: flex;
    align-items: center;
    padding: var(--size-5);
    border-radius: var(--size-10);
    background-color: var(--color-white);
    width: var(--size-30);
    height: var(--size-30);
    margin-right: var(--size-15);
    box-shadow: 0 var(--size-4) var(--size-8) var(--color-black-25);
}


.C1013 {
    width: var(--size-20);
    height: var(--size-20);
}


.C1014 {
    display: flex;
    align-items: center;
    margin-left: var(--size-10);
    padding: var(--size-10) var(--size-15) var(--size-10) var(--size-10);
    border-radius: var(--size-15);
    background : var(--color-white-25);
}

.C1015 {
    display: flex;
    align-items: center;
    padding: var(--size-5);
    border-radius: var(--size-10);
    background-color: var(--color-black-25);
    width: var(--size-30);
    height: var(--size-30);
    margin-right: var(--size-15);
    box-shadow: 0 var(--size-4) var(--size-8) var(--color-black-25);
}

.C1016 {
    display: flex;
    align-items: center;
    margin-left: var(--size-10);
    padding: var(--size-10) var(--size-15) var(--size-10) var(--size-10);
    border-radius: var(--size-15);
    background : linear-gradient(to right, var(--color-green), var(--color-blue));
}

/* C1017 */
.C1017 {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--size-30);
    padding: var(--size-5);
    margin-bottom: var(--size-10);
    margin-left: var(--size-30);
}

/* 체크박스 Wrapper */
.C1018 {
    display: flex;
    flex-wrap: wrap; /* 여기서 줄바꿈 발생 */
    row-gap: var(--size-20);
    flex: 1; /* 남은 가로 공간을 모두 차지하게 함 */
}

/* 작은아이콘 */
.C1019 {
    width: var(--size-20);
    height: var(--size-20);
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--color-white);
    filter: brightness(0) invert(1);
}