.C000 {
    position: fixed;
    width: var(--size-120);
    height: 100vh;
    background: #fff;
    top:0;
}
@media (min-width: 2160px) {
    .C000 {
        border-left: var(--size-2) solid var(--color-black-3);
    }
}
.C001 {
    margin-top: var(--size-25);
}
.C002 {
    width: var(--size-45);
    height: var(--size-45);
    margin: 0 auto;
    border-radius: 50%;
    background: url(/images/female-128.jpg) no-repeat center center / cover;
}
.userIsMale .C002 {
    background: url(/images/male-128.jpg) no-repeat center center / cover;
}
.C003 {
    margin-top: var(--size-50);
    height: calc(100vh - var(--size-300));
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C003::-webkit-scrollbar {
    display: none;
}
.C003.isOverflowed {
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C004 {
    display:flow-root;
    width: var(--size-60);
    height: var(--size-60);
    margin: var(--size-15) auto;
    border-radius: var(--size-20);
    opacity: .5;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: .3s;
}
.C004:hover {
    background: var(--color-red-7);
    opacity: 1;
}
.C004.isSelected {
    background: var(--color-red);
    opacity: 1;
}
.C004.isSelected:hover {
    opacity: .5;
}
.C005 {
    width: var(--size-50);
    height: var(--size-50);
    margin: var(--size-5) auto;
}
.C004.isSelected .C005 {
    filter: brightness(0) invert(1);
}
.C006 {
    margin-bottom: var(--size-25);
}
.C007 {
    margin-left: var(--size-160);
    margin-top: 0;
    width: calc(100% - var(--size-160));
    max-width: calc(2160px - var(--size-160));
}
.C008 {
    margin-top: var(--size-15);
    display: flex;
    align-items: center;
    width: calc(100% - var(--size-500) - var(--size-40));
}
.C008 h1 {
    font-size: var(--font-32);
    font-weight: 700;
    width: fit-content;
    display: inline-flex;
    margin: 0;
}
.C009 {
    width: fit-content;
    height: var(--size-60);
    display: flex;
    align-items: center;
    border-radius: var(--size-20);
    border: var(--size-2) solid var(--color-black-7);
    margin-left: var(--size-50);
    cursor: pointer;
    transition: .3s;
}
.C009:hover {
    opacity: .5;
}
.C010 {
    width: var(--size-16);
    height: var(--size-16);
    border-radius: 50%;
    background: var(--color-green);
    margin: 0 0 0 var(--size-20);
}
.C011 {
    padding: var(--size-5) var(--size-10);
    border-right: var(--size-2) solid var(--color-black-7);
}
.C012 {
    width: var(--size-40);
    height: var(--size-40);
    margin: 0 var(--size-5);
}
.C013 {
    width: var(--size-500);
    height: 100vh;
    background-color: var(--background-green);
    position: fixed;
    right: max(0px, calc((100vw - 2160px) / 2));
    top: 0;
}
.C014 {
    padding: 0 var(--size-3);
    height: var(--size-60);
    display: flex;
    align-items: center;
    border-radius: var(--size-20);
    border: var(--size-2) solid var(--color-black-7);
    margin-left: var(--size-10);
    cursor: pointer;
    transition: .3s;
}
.C014:hover {
    opacity: .5;
}
.C015 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: var(--size-10);
}
.C016 {
    height: var(--size-60);
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-30);
    display: flex;
    align-items: center;
    padding: 0 var(--size-30) 0 var(--size-10);
    cursor: pointer;
    transition: .3s;
}
.C016:hover {
    opacity: .5;
    border: var(--size-2) solid var(--color-black);
}
.C017 {
    width: var(--size-40);
    height: var(--size-40);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .25;
}
.C018 {
    width: var(--size-60);
    height: var(--size-60);
    display: flex;
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-30);
    cursor: pointer;
    transition: .3s;
}
.C018:hover {
    opacity: .5;
}
.C019 {
    width: var(--size-40);
    height: var(--size-40);
    margin: var(--size-10);
    display: flex;
    align-items: center;
    justify-content: center;
}
.C020 {
    margin-top: var(--size-15);
    align-items: center;
    width: calc(100% - var(--size-500) - var(--size-40));
    margin-right: var(--size-40);
    background-color: var(--color-white);
    border-radius: var(--size-25);
}
.C021 {
    box-shadow: 0 var(--size-10) var(--size-40) var(--color-black-3);
}
.C022 {
    height: var(--size-60);
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-15);
    padding: 0 var(--size-30) 0 var(--size-10);
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-left: var(--size-20);
    transition: .3s;
}
.C022:hover {
    opacity: .5;
    border: var(--size-2) solid var(--color-black);
}
.C023 {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-black-3);
    border-radius: var(--size-15);
    padding: 0 var(--size-20) 0 0;
    transition: .3s;
}
.C023:hover {
    opacity: 0.5;
}
.C024 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
.C025 {
    width: var(--size-120);
    height: var(--size-40);
    margin-left: var(--size-10);
    border-radius: var(--size-20);
    background-color: var(--color-green-15);
    box-shadow: inset 0 var(--size-2) var(--size-4) var(--color-black-7);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .3s;
}
.C025:hover {
    opacity: .5;
}
.C025.isOff {
    background-color: var(--color-black-7);
}
.C026 {
    position: absolute;
    width: var(--size-30);
    height: var(--size-30);
    margin: var(--size-5);
    border-radius: var(--size-20);
    background-color: var(--color-white);
    box-shadow: 0 var(--size-2) var(--size-4) var(--color-black-7);
    left:0;
    pointer-events: none;
    transition: .3s;
}
.C027 {
    width: 200%;
    display: flex;
    position: absolute;
    left:0;
    pointer-events: none;
    transition: .3s;
}
.C025.isOff .C027 {
    left: -100%;
}
.C025.isOff .C026 {
    left: calc(100% - var(--size-40));
}
.C028 {
    padding: var(--size-15) var(--size-30);
    display: flex;
    align-items: center;
    gap: var(--size-10);
}
.C029 {
    height: var(--size-900);
    border-top: var(--size-2) solid var(--color-black-7);
}
.isHighEnd .C029 {
    transition: .3s;
}
.C029.isSmall {
    height: var(--size-640);
}
.C030 {
    padding: 0 var(--size-20);
    height: 100%;
    display: flex;
}
.C031 {
    width: 25%;
    height: 100%;
    border-right: var(--size-2) solid var(--color-black-3);
    cursor: pointer;
}
.isHighEnd .C031 {
    transition: .3s;
}
.C031:last-of-type {
    border-right: none;
}
.C031.isPending {
    background-color: var(--color-yellow-7);
}
.C031.isPending:last-of-type {
    border-right: none;
}
.C031:has(.C032:hover) {
    border-right: var(--size-2) solid var(--color-black-50);
    background-color: var(--color-blue-7);
}
.C031:has(.C032:hover):last-of-type {
    border-right: none;
}
.C031.isActived {
    width: 55%;
}
.C031.isFolded {
    width: 15%;
}
.C032 {
    padding: var(--size-15) var(--size-10);
    border-bottom: var(--size-2) solid var(--color-black-3);
    display: flex;
    align-items: center;
}
.C033 {
    width: var(--size-40);
    height: var(--size-40);
    margin: var(--size-5) auto;
}
.C034 {
    border-bottom: var(--size-2) solid var(--color-black-3);
    padding: var(--size-10);
    gap: var(--size-20);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.C034:last-of-type {
    border-bottom: none;
}
.C034:hover {
    background-color: var(--color-blue-7);
}
.C035 {
    display: flex;
    align-items: center;
    gap: var(--size-2);
    flex: 1 1 50%;
    min-width: 0;
    flex-wrap: wrap;
}
.C031.isActived .C035 {
    flex: 0 0 22.5%;
}
.C031.isFolded .C035 {
    flex: 1 1 100%;
}
.C036 {
    width: var(--size-50);
    height: var(--size-50);
    border-radius: var(--size-15);
    background-color: var(--color-black-7);
}
.C037 {
    flex: 1 1 45%;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.C031.isActived .C037 {
    flex: 0 0 22.5%;
}
.C031.isFolded .C037 {
    display: none;
}
.C038 {
    height: calc(100% - var(--size-80));
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C038::-webkit-scrollbar {
    display: none;
}
.C038.isOverflowed { 
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C039 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    margin-top: var(--size-2);
    padding-right: var(--size-10);
    border-radius: var(--size-15);
    transition: .3s;
}
.C039:hover {
    background-color: var(--color-blue-25);
}
.C040 {
    width: var(--size-25);
    height: var(--size-25);
    background: url(/images/female-64.jpg) no-repeat center center / cover;
    border-radius: var(--size-15);
    border: var(--size-2) solid var(--color-white);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-7);
}
.C040.isMale {
    background: url(/images/male-64.jpg) no-repeat center center / cover;
}
.C041 {
    flex: 1 1 55%;
    align-self: stretch;
    background: linear-gradient(to right, var(--color-black-3), var(--color-black-0) 15%);
    display: none;
    margin: calc(-1 * var(--size-10)) calc(-1 * var(--size-10)) calc(-1 * var(--size-10)) 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    user-select: none;
}
.C041::-webkit-scrollbar {
    display: none;
}
.C041:active {
    cursor: grabbing;
}
.C031.isActived .C041 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.C042 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    background-color: var(--color-black-3);
    border-radius: var(--size-15);
    padding: var(--size-10) var(--size-15) var(--size-10) var(--size-10);
    flex-shrink: 0;
    white-space: nowrap;
}
.C043 {
    display: flex;
    width: var(--size-40);
    height: var(--size-40);
    flex-shrink: 0;
}
.C044 {
    display: flex;
    flex-direction: column;
}
.C045 {
    display: flex;
    flex-direction: row;
    gap: var(--size-30);
    flex-shrink: 0;
    padding: var(--size-10) var(--size-10) var(--size-10) var(--size-30);
}