.C000 {
    position: fixed;
    width: var(--size-120);
    height: 100vh;
    background: #fff;
    top:0;
}
@media (min-width: 2160px) {
    .C000 {
        border-left: var(--size-2) solid var(--color-black-3);
    }
}
.C001 {
    margin-top: var(--size-25);
}
.C002 {
    width: var(--size-45);
    height: var(--size-45);
    margin: 0 auto;
    border-radius: 50%;
    background: url(/images/female-128.jpg) no-repeat center center / cover;
}
.userIsMale .C002 {
    background: url(/images/male-128.jpg) no-repeat center center / cover;
}
.C003 {
    margin-top: var(--size-50);
    height: calc(100vh - var(--size-300));
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C003::-webkit-scrollbar {
    display: none;
}
.C003.isOverflowed {
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C004 {
    display:flow-root;
    width: var(--size-60);
    height: var(--size-60);
    margin: var(--size-15) auto;
    border-radius: var(--size-20);
    opacity: .5;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: .3s;
}
.C004:hover {
    background: var(--color-red-7);
    opacity: 1;
}
.C004.isSelected {
    background: var(--color-red);
    opacity: 1;
}
.C004.isSelected:hover {
    opacity: .5;
}
.C005 {
    width: var(--size-50);
    height: var(--size-50);
    margin: var(--size-5) auto;
}
.C004.isSelected .C005 {
    filter: brightness(0) invert(1);
}
.C006 {
    margin-bottom: var(--size-25);
}
.C007 {
    margin-left: var(--size-160);
    margin-top: 0;
    width: calc(100% - var(--size-160));
    max-width: calc(2160px - var(--size-160));
}
.C008 {
    margin-top: var(--size-15);
    display: flex;
    align-items: center;
    width: calc(100% - var(--size-500) - var(--size-40));
}
.C008 h1 {
    font-size: var(--font-32);
    font-weight: 700;
    width: fit-content;
    display: inline-flex;
    margin: 0;
}
.C009 {
    width: fit-content;
    height: var(--size-60);
    display: flex;
    align-items: center;
    border-radius: var(--size-20);
    border: var(--size-2) solid var(--color-black-7);
    margin-left: var(--size-50);
    cursor: pointer;
    transition: .3s;
}
.C009:hover {
    opacity: .5;
}
.C010 {
    width: var(--size-16);
    height: var(--size-16);
    border-radius: 50%;
    background: var(--color-green);
    margin: 0 0 0 var(--size-20);
}
.C011 {
    padding: var(--size-5) var(--size-10);
    border-right: var(--size-2) solid var(--color-black-7);
}
.C012 {
    width: var(--size-40);
    height: var(--size-40);
    margin: 0 var(--size-5);
}
.C013 {
    width: var(--size-500);
    height: 100vh;
    background-color: var(--background-green);
    position: fixed;
    right: max(0px, calc((100vw - 2160px) / 2));
    top: 0;
}
.C014 {
    padding: 0 var(--size-3);
    height: var(--size-60);
    display: flex;
    align-items: center;
    border-radius: var(--size-20);
    border: var(--size-2) solid var(--color-black-7);
    margin-left: var(--size-10);
    cursor: pointer;
    transition: .3s;
}
.C014:hover {
    opacity: .5;
}
.C015 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: var(--size-10);
}
.C016 {
    height: var(--size-60);
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-30);
    display: flex;
    align-items: center;
    padding: 0 var(--size-30) 0 var(--size-10);
    cursor: pointer;
    transition: .3s;
}
.C016:hover {
    opacity: .5;
    border: var(--size-2) solid var(--color-black);
}
.C017 {
    width: var(--size-40);
    height: var(--size-40);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .25;
}
.C018 {
    width: var(--size-60);
    height: var(--size-60);
    display: flex;
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-30);
    cursor: pointer;
    transition: .3s;
}
.C018:hover {
    opacity: .5;
}
.C019 {
    width: var(--size-40);
    height: var(--size-40);
    margin: var(--size-10);
    display: flex;
    align-items: center;
    justify-content: center;
}
.C020 {
    margin-top: var(--size-15);
    align-items: center;
    width: calc(100% - var(--size-500) - var(--size-40));
    margin-right: var(--size-40);
    background-color: var(--color-white);
    border-radius: var(--size-25);
}
.C021 {
    box-shadow: 0 var(--size-10) var(--size-40) var(--color-black-3);
}
.C022 {
    height: var(--size-60);
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-15);
    padding: 0 var(--size-30) 0 var(--size-10);
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-left: var(--size-20);
    transition: .3s;
}
.C022:hover {
    opacity: .5;
    border: var(--size-2) solid var(--color-black);
}
.C023 {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-black-3);
    border-radius: var(--size-15);
    padding: 0 var(--size-20) 0 0;
    transition: .3s;
}
.C023:hover {
    opacity: 0.5;
}
.C024 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
.C025 {
    width: var(--size-120);
    height: var(--size-40);
    margin-left: var(--size-10);
    border-radius: var(--size-20);
    background-color: var(--color-green-15);
    box-shadow: inset 0 var(--size-2) var(--size-4) var(--color-black-7);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .3s;
}
.C025:hover {
    opacity: .5;
}
.C025.isOff {
    background-color: var(--color-black-7);
}
.C026 {
    position: absolute;
    width: var(--size-30);
    height: var(--size-30);
    margin: var(--size-5);
    border-radius: var(--size-20);
    background-color: var(--color-white);
    box-shadow: 0 var(--size-2) var(--size-4) var(--color-black-7);
    left:0;
    pointer-events: none;
    transition: .3s;
}
.C027 {
    width: 200%;
    display: flex;
    position: absolute;
    left:0;
    pointer-events: none;
    transition: .3s;
}
.C025.isOff .C027 {
    left: -100%;
}
.C025.isOff .C026 {
    left: calc(100% - var(--size-40));
}
.C028 {
    padding: var(--size-15) var(--size-30);
    display: flex;
    align-items: center;
    gap: var(--size-10);
}
.C029 {
    height: var(--size-900);
    border-top: var(--size-2) solid var(--color-black-7);
}
.isHighEnd .C029 {
    transition: .3s;
}
.C029.isSmall {
    height: var(--size-640);
}
.C030 {
    padding: 0 var(--size-20);
    height: 100%;
    display: flex;
}
.C031 {
    width: 25%;
    height: 100%;
    border-right: var(--size-2) solid var(--color-black-3);
    cursor: pointer;
}
.isHighEnd .C031 {
    transition: .3s;
}
.C031:last-of-type {
    border-right: none;
}
.C031.isPending {
    background-color: var(--color-yellow-7);
}
.C031.isPending:last-of-type {
    border-right: none;
}
.C031:has(.C032:hover) {
    border-right: var(--size-2) solid var(--color-black-50);
    background-color: var(--color-blue-7);
}
.C031:has(.C032:hover):last-of-type {
    border-right: none;
}
.C031.isActived {
    width: 55%;
}
.C031.isFolded {
    width: 15%;
}
.C032 {
    padding: var(--size-15) var(--size-10);
    border-bottom: var(--size-2) solid var(--color-black-3);
    display: flex;
    align-items: center;
}
.C033 {
    width: var(--size-40);
    height: var(--size-40);
    margin: var(--size-5) auto;
}
.C034 {
    border-bottom: var(--size-2) solid var(--color-black-3);
    padding: var(--size-10);
    gap: var(--size-15);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.C034:last-of-type {
    border-bottom: none;
}
.C034:hover {
    background-color: var(--color-blue-7);
}
.C035 {
    display: flex;
    align-items: center;
    gap: var(--size-2);
    flex: 1 1 50%;
    min-width: 0;
    flex-wrap: wrap;
}
.C031.isActived .C035 {
    flex: 0 0 22.5%;
}
.C031.isFolded .C035 {
    flex: 1 1 100%;
}
.C036 {
    width: var(--size-50);
    height: var(--size-50);
    border-radius: var(--size-15);
    background-color: var(--color-black-7);
}
.C037 {
    flex: 1 1 45%;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.C031.isActived .C037 {
    flex: 0 0 22.5%;
}
.C031.isFolded .C037 {
    display: none;
}
.C031.isReservation.isActived .C037 {
    flex: 1 1 77.5%;
}
.C038 {
    height: calc(100% - var(--size-80));
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C038::-webkit-scrollbar {
    display: none;
}
.C038.isOverflowed { 
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C039 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    margin: var(--size-2) var(--size-2) var(--size-2) 0;
    padding-right: var(--size-10);
    border-radius: var(--size-15);
    transition: .3s;
}
.C039:hover {
    background-color: var(--color-blue-25);
}
.C040 {
    width: var(--size-26);
    height: var(--size-26);
    background: url(/images/female-64.jpg) no-repeat center center / cover;
    border-radius: var(--size-15);
    border: var(--size-2) solid var(--color-white);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-7);
}
.C040.isMale {
    background: url(/images/male-64.jpg) no-repeat center center / cover;
}
.C041 {
    flex: 1 1 55%;
    align-self: stretch;
    background: linear-gradient(to right, var(--color-black-3), var(--color-black-0) 15%);
    display: none;
    margin: calc(-1 * var(--size-10)) calc(-1 * var(--size-10)) calc(-1 * var(--size-10)) 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    user-select: none;
}
.C041::-webkit-scrollbar {
    display: none;
}
.C041:active {
    cursor: grabbing;
}
.C031.isActived .C041 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.C042 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    background-color: var(--color-black-3);
    border-radius: var(--size-15);
    padding: var(--size-10) var(--size-15) var(--size-10) var(--size-10);
    flex-shrink: 0;
    white-space: nowrap;
}
.C043 {
    display: flex;
    width: var(--size-40);
    height: var(--size-40);
    flex-shrink: 0;
}
.C044 {
    display: flex;
    flex-direction: column;
}
.C045 {
    display: flex;
    flex-direction: row;
    gap: var(--size-25);
    flex-shrink: 0;
    padding: var(--size-10) var(--size-10) var(--size-10) var(--size-25);
}
.C046 {
    position: absolute;
    left: 0;
    margin-left:calc(-1 * var(--size-15));
    border-radius: 50%;
    border: var(--size-4) solid var(--color-white);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-15);
    background-color: var(--color-black);
}
.C046:has(.C047.isChecked) {
    background-color: var(--color-green);
}
.C046:has(.C047.isMyLocation) {
    background-color: var(--color-red);
}
.C047 {
    width: var(--size-20);
    height: var(--size-20);
    filter: brightness(0) invert(1);
}
.C048 {
    flex: 1 1 55%;
    min-width: 0;
    display: none;
    flex-wrap: wrap;
    align-items: center;
}
.C031.isActived .C048 {
    display: flex;
}
.C031.isFolded .C048 {
    display: none;
}
.C049 {
    display: none;
    justify-content: flex-end;
    margin-left: auto;
}
.C050 {
    padding: var(--size-10);
    background-color: var(--color-black-3);
    color: var(--color-black-50);
    font-size: var(--font-14);
    border: var(--size-2) solid var(--color-black-3);
    margin-left: calc(-1 * var(--size-2));
    transition: background-color .15s ease-out, color .15s ease-out, border-color .15s ease-out;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
.C050:first-of-type {
    border-radius: var(--size-15) 0 0 var(--size-15);
}
.C050:last-of-type {
    border-radius: 0 var(--size-15) var(--size-15) 0;
}
.C050.isSelected {
    background-color: var(--color-green-15);
    color: var(--color-black);
    border-color: var(--color-green);
    z-index: 1;
}
.C050:hover {
    opacity: .5;
    z-index: 0;
}
.C050.isSelected:hover {
    z-index: 1;
}
.C031.isActived .C049 {
    display: flex;
}
.C031.isFolded .C049 {
    display: none;
}
.C051 {
    display: none;
    align-items: center;
    margin-left: auto;
    background-color: var(--color-black-15);
    border-radius: var(--size-15);
    padding: var(--size-10);
    opacity: .25;
    transition: .3s;
    cursor: pointer;
}
.C051:hover {
    opacity: .5;
}
.C031.isActived .C051 {
    display: flex;
}
.C031.isFolded .C051 {
    display: none;
}
.C052 {
    width: var(--size-20);
    height: var(--size-20);
}
.C053 {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.C053::-webkit-scrollbar {
    display: none;
}
.C053:active {
    cursor: grabbing;
}
.C054 {
    display: flex;
    flex-direction: row;
    gap: var(--size-3);
    width: max-content;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.C055 {
    width: var(--size-60);
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    opacity: 0;
}
.C056 {
    transition: .3s;
    cursor: pointer;
}
.C056:hover .T028 {
    background-color: var(--color-blue-15);
}
.C057 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: var(--size-15);
    background: linear-gradient(to top, var(--color-black-3), var(--color-black-0) 25%);
}
.C057:hover .T029 {
    opacity: 1;
}
.C058 {
    width: fit-content;
    display: inline-flex;
    gap: var(--size-10);
    margin: 0 auto;
}
.C059 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    padding: var(--size-10) var(--size-10) var(--size-10) var(--size-20);
    width: fit-content;
    background-color: var(--color-white-25);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-7);
    border-radius: var(--size-15);
    height: var(--size-60);
    transition: .3s;
    cursor: pointer;
}
.C059.isToday {
    padding-right: var(--size-20);
}
.C059:hover {
    opacity: .5;
}
.C060 {
    width: var(--size-40);
    height: var(--size-40);
}
.C061 {
    position: fixed;
    padding: var(--size-5) var(--size-10);
    border-radius: var(--size-10);
    background: var(--color-black-50);
    color: var(--color-white);
    pointer-events: none;
    z-index: 9;
    white-space: nowrap;
    backdrop-filter: blur(10px);
}
.C062 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-black-15);
    z-index: 9;
}
.C063 {
    width: var(--size-600);
    height: var(--size-600);
    background-color: var(--color-white-50);
    border-radius: var(--size-30);
    backdrop-filter: blur(20px);
    box-shadow: 0 var(--size-20) var(--size-80) var(--color-black-25);
    position: fixed;
    padding: var(--size-30);
    z-index: 10;
}
.C064 {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    gap: var(--size-10);
}
.C065 {
    padding:var(--size-5) var(--size-10);
    background-color: var(--color-white-25);
    border-radius: var(--size-15);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-7);
    display: flex;
    height: var(--size-50);
    align-items: center;
    transition: .3s;
    cursor: pointer;
}
.C065:hover {
    opacity: .5;
}
.C066 {
    width: var(--size-40);
    height: var(--size-40);
}
.C067 {
    display: flex;
    flex-direction: column;
}
.C068 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: var(--size-10) 0;
}
.C068::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--size-2);
    background: linear-gradient(
        to right,
        var(--color-black-0) 0%,
        var(--color-black-25) 50%,
        var(--color-black-0) 100%
    );
}
.C068::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--size-2);
    background: linear-gradient(
        to right,
        var(--color-black-0) 0%,
        var(--color-black-25) 50%,
        var(--color-black-0) 100%
    );
}
.C069 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.C070 {
    width: 100%;
    padding: var(--size-15) var(--size-30);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}
.C070:hover {
    opacity: .5;
    background-color: var(--color-blue-7);
}
.C071 {
    width: fit-content;
    border-radius: var(--size-15);
    background: linear-gradient(to right, var(--color-black), var(--color-black-75)), var(--color-mint);
    box-shadow: var(--size-5) var(--size-5) var(--size-20) var(--color-black-50), calc(-1 * var(--size-5)) calc(-1 * var(--size-5)) var(--size-20) var(--color-mint-15);
    border: var(--size-4) solid var(--color-white-25);
    border-left: var(--size-4) solid var(--color-white-50);
    border-right: var(--size-4) solid var(--color-white-50);
    justify-items: flex-end;
    margin-left: auto;
}
.C072 {
    width: var(--size-40);
    height: var(--size-40);
    filter: brightness(0) invert(1);
}
.C073 {   
    background: linear-gradient(to bottom, var(--color-black-3), var(--color-black-0) 10%);
    height: 100%;
}
.C074 {
    position: absolute;
    width: var(--size-120);
    height: 100%;
    border-right: var(--size-3) solid var(--color-black-3);
}
.C075 {
    width: var(--size-500);
    height: calc(100vh - var(--size-300));
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C075::-webkit-scrollbar {
    display: none;
}
.C076 {
    display: flex;
    flex-direction: row;
    margin: var(--size-10) 0;
}
.C077 {
    margin-left: var(--size-20);
    margin-top: var(--size-5);
    flex: 0 0 var(--size-80);
}
.C078 {
    flex: 0 0 var(--size-40);
    margin-top: var(--size-5);
}
.C079 {
    width: fit-content;
    background-color: var(--color-white-50);
    padding: var(--size-15);
    border-radius: var(--size-25);
    min-width: var(--size-60);
    margin-right: var(--size-15);
    transition: .3s;
    cursor: pointer;
}
.C079.isMine {
    background-color: var(--background-white);
}
.C079:hover {
    opacity: .5;
}
.C080 {
    border: var(--size-4) solid var(--color-white);
    border-radius: var(--size-15);
    margin: 0 var(--size-6);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-15);
    background-color: var(--color-black);
}
.C080.isFitted {
    margin: calc(-1 * var(--size-5));
    z-index: 1;
}
.C081 {
    width: var(--size-20);
    height: var(--size-20);
    filter: brightness(0) invert(1);
}
.C080:has(.C081.isMegaphone) {
    background-color: var(--color-red);
}
.C080:has(.C081.isChecked), .C080:has(.C081.isArrow) {
    background-color: var(--color-green);
}
.C082 {
    width: var(--size-26);
    height: var(--size-26);
    margin: var(--size-6) 0 0 var(--size-6);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-15);
    border: var(--size-2) solid var(--color-white);
    border-radius: var(--size-15);
    background: url(/images/female-128.jpg) no-repeat center center / cover;
}
.C083 {
    padding-right: var(--size-10);
}
.C084 {
    width: var(--size-50);
    height: var(--size-50);
}
.C085 {
    display: flex;
    align-items: center;
    margin-top: var(--size-10);
    flex-wrap: wrap;
}
.C086 {
    display: flex;
    gap: var(--size-3);
}
.C087 {
    display: flex;
    gap: var(--size-5);
    align-items: center;
}
.C088 {
    transition: .3s;
    cursor: pointer;
}
.C088:hover {
    opacity: .5;
}