.T000 {
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-size: var(--font-17);
    margin-top: var(--size-10);
}

.T001 {
    color: var(--color-green);
    text-align: center;
    font-size: var(--font-15);
}
.T002 {
    position: absolute;
    padding: var(--size-5) var(--size-10);
    border-radius: var(--size-10);
    background-color: var(--color-black);
    color: var(--color-white);
    left: var(--size-70);
    top: var(--size-15);
    width: max-content;
    display: none;
}
.C004.isSelected .T002 {
    display: flow-root;
}
.T003 {
    font-size: var(--font-14);
}
.T004 {
    font-size: var(--font-14);
    color: var(--color-green);
}
.T005 {
    font-size: var(--font-14);
    margin-left: var(--size-10);
    display: flex;
    align-items: center;
    color: var(--color-black-25);
}
.T006 {
    position: absolute;
    width: fit-content;
    padding: 0 var(--size-5);
    height: var(--size-20);
    line-height: var(--size-20);
    border-radius: var(--size-10);
    top: 0;
    right: 0;
    font-size: var(--font-14);
    margin-left: var(--size-10);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-red);
}
.T007 {
    font-size: var(--font-21);
    width: fit-content;
    margin: 0px;
    font-weight: 700;
    display: inline-flex;
}
.T008 {
    font-size: var(--font-14);
    display: flex;
    align-items: center;
}
.T009 {
    font-size: var(--font-14);
    display: flex;
    align-items: center;
    color: var(--color-black-25);
}
.T010 {
    font-size: var(--font-14);
    width: 100%;
    line-height: var(--size-40);
    padding: 0 var(--size-20);
    color: var(--color-black-50);
    pointer-events: none;
}
.T010:first-of-type {
    text-align: right;
    color: var(--color-green);
}