.C000 {
    position: fixed;
    width: var(--size-120);
    height: 100vh;
    background: #fff;
    top:0;
}
@media (min-width: 2160px) {
    .C000 {
        border-left: var(--size-2) solid var(--color-black-3);
    }
}
.C001 {
    margin-top: var(--size-25);
}
.C002 {
    width: var(--size-45);
    height: var(--size-45);
    margin: 0 auto;
    border-radius: 50%;
    background: url(/images/female-128.jpg) no-repeat center center / cover;
}
.userIsMale .C002 {
    background: url(/images/male-128.jpg) no-repeat center center / cover;
}
.C003 {
    margin-top: var(--size-50);
    height: calc(100vh - var(--size-300));
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C003::-webkit-scrollbar {
    display: none;
}
.C003.isOverflowed {
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C004 {
    display:flow-root;
    width: var(--size-60);
    height: var(--size-60);
    margin: var(--size-15) auto;
    border-radius: var(--size-20);
    opacity: .5;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: .3s;
}
.C004:hover {
    background: var(--color-red-7);
    opacity: 1;
}
.C004.isSelected {
    background: var(--color-red);
    opacity: 1;
}
.C004.isSelected:hover {
    opacity: .5;
}
.C005 {
    width: var(--size-50);
    height: var(--size-50);
    margin: var(--size-5) auto;
}
.C061 {
    position: fixed;
    padding: var(--size-5) var(--size-10);
    background-color: var(--color-black-75);
    color: var(--color-white);
    border-radius: var(--size-8);
    font-size: var(--font-12);
    pointer-events: none;
    z-index: 9999;
    white-space: nowrap;
}
.C004.isSelected .C005 {
    filter: brightness(0) invert(1);
}
.C006 {
    margin-bottom: var(--size-25);
}
.C007 {
    margin-left: var(--size-160);
    margin-top: 0;
    width: calc(100% - var(--size-160));
    max-width: calc(2160px - var(--size-160));
}
.C008 {
    margin-top: var(--size-15);
    display: flex;
    align-items: center;
    width: calc(100% - var(--size-500) - var(--size-40));
}
.C008 h1 {
    font-size: var(--font-32);
    font-weight: 700;
    width: fit-content;
    display: inline-flex;
    margin: 0;
}
.C009 {
    width: fit-content;
    height: var(--size-60);
    display: flex;
    align-items: center;
    border-radius: var(--size-20);
    border: var(--size-2) solid var(--color-black-7);
    margin-left: var(--size-50);
    cursor: pointer;
    transition: .3s;
}
.C009:hover {
    opacity: .5;
}
.C010 {
    width: var(--size-16);
    height: var(--size-16);
    border-radius: 50%;
    background: var(--color-green);
    margin: 0 0 0 var(--size-20);
}
.C011 {
    padding: var(--size-5) var(--size-10);
    border-right: var(--size-2) solid var(--color-black-7);
}
.C012 {
    width: var(--size-40);
    height: var(--size-40);
    margin: 0 var(--size-5);
}
.C013 {
    width: var(--size-500);
    height: 100vh;
    background-color: var(--background-green);
    position: fixed;
    right: max(0px, calc((100vw - 2160px) / 2));
    top: 0;
}
.C014 {
    padding: 0 var(--size-3);
    height: var(--size-60);
    display: flex;
    align-items: center;
    border-radius: var(--size-20);
    border: var(--size-2) solid var(--color-black-7);
    margin-left: var(--size-10);
    cursor: pointer;
    transition: .3s;
}
.C014:hover {
    opacity: .5;
}
.C015 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: var(--size-10);
}
.C016 {
    height: var(--size-60);
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-30);
    display: flex;
    align-items: center;
    padding: 0 var(--size-30) 0 var(--size-10);
    cursor: pointer;
    transition: .3s;
}
.C016:hover {
    opacity: .5;
    border: var(--size-2) solid var(--color-black);
}
.C017 {
    width: var(--size-40);
    height: var(--size-40);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .25;
}
.C018 {
    width: var(--size-60);
    height: var(--size-60);
    display: flex;
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-30);
    cursor: pointer;
    transition: .3s;
}
.C018:hover {
    opacity: .5;
}
.C019 {
    width: var(--size-40);
    height: var(--size-40);
    margin: var(--size-10);
    display: flex;
    align-items: center;
    justify-content: center;
}
.C020 {
    margin-top: var(--size-15);
    align-items: center;
    width: calc(100% - var(--size-500) - var(--size-40));
    margin-right: var(--size-40);
    background-color: var(--color-white);
    border-radius: var(--size-25);
}
.C021 {
    /* overflow: hidden; */
    border-radius: var(--size-25);
    box-shadow: 0 var(--size-10) var(--size-40) var(--color-black-3);
    margin-bottom: var(--size-20);
}
.C022 {
    height: var(--size-60);
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-15);
    padding: 0 var(--size-30) 0 var(--size-10);
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-left: var(--size-20);
    transition: .3s;
}
.C022:hover {
    opacity: .5;
    border: var(--size-2) solid var(--color-black);
}
.C023 {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-black-3);
    border-radius: var(--size-15);
    padding: 0 var(--size-20) 0 0;
    transition: .3s;
}
.C023:hover {
    opacity: 0.5;
}
.C024 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
.C025 {
    width: var(--size-120);
    min-width: var(--size-120);
    height: var(--size-40);
    margin-left: var(--size-10);
    border-radius: var(--size-20);
    background-color: var(--color-green-15);
    box-shadow: inset 0 var(--size-2) var(--size-4) var(--color-black-7);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .3s;
}
.C025:hover {
    opacity: .5;
}
.C025.isOff {
    background-color: var(--color-black-7);
}
.C026 {
    position: absolute;
    width: var(--size-30);
    height: var(--size-30);
    margin: var(--size-5);
    border-radius: var(--size-20);
    background-color: var(--color-white);
    box-shadow: 0 var(--size-2) var(--size-4) var(--color-black-7);
    left:0;
    pointer-events: none;
    transition: .3s;
}
.C027 {
    width: 200%;
    display: flex;
    position: absolute;
    left:0;
    pointer-events: none;
    transition: .3s;
}
.C025.isOff .C027 {
    left: -100%;
}
.C025.isOff .C026 {
    left: calc(100% - var(--size-40));
}
.C028 {
    padding: var(--size-15) var(--size-30);
    display: flex;
    align-items: center;
    gap: var(--size-10);
}
.C029 {
    height: var(--size-900);
    border-top: var(--size-2) solid var(--color-black-7);
}
.isHighEnd .C029 {
    transition: .3s;
}
.C029.isSmall {
    height: var(--size-640);
}
.C030 {
    padding: 0 var(--size-20);
    height: 100%;
    display: flex;
}
.C031 {
    width: 25%;
    height: 100%;
    border-right: var(--size-2) solid var(--color-black-3);
    cursor: pointer;
}
.isHighEnd .C031 {
    transition: .3s;
}
.C031:last-of-type {
    border-right: none;
}
.C031.isPending {
    background-color: var(--color-yellow-7);
}
.C031.isPending:last-of-type {
    border-right: none;
}
.C031:has(.C032:hover) {
    border-right: var(--size-2) solid var(--color-black-50);
    background-color: var(--color-blue-7);
}
.C031:has(.C032:hover):last-of-type {
    border-right: none;
}
.C031.isActived {
    width: 55%;
}
.C031.isFolded {
    width: 15%;
}
.C032 {
    padding: var(--size-15) var(--size-10);
    border-bottom: var(--size-2) solid var(--color-black-3);
    display: flex;
    align-items: center;
}
.C033 {
    width: var(--size-40);
    height: var(--size-40);
    margin: var(--size-5) auto;
}
.C034 {
    border-bottom: var(--size-2) solid var(--color-black-3);
    padding: var(--size-10);
    gap: var(--size-15);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.C034:last-of-type {
    border-bottom: none;
}
.C034:hover {
    background-color: var(--color-blue-7);
}
.C035 {
    display: flex;
    align-items: center;
    gap: var(--size-2);
    flex: 1 1 50%;
    min-width: 0;
    flex-wrap: wrap;
    cursor: pointer;
}
.C031.isActived .C035 {
    flex: 0 0 22.5%;
}
.C031.isFolded .C035 {
    flex: 1 1 100%;
}
.C036 {
    width: var(--size-50);
    height: var(--size-50);
    border-radius: var(--size-15);
    background-color: var(--color-black-7);
}
.C037 {
    flex: 1 1 45%;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.C031.isActived .C037 {
    flex: 0 0 22.5%;
}
.C031.isFolded .C037 {
    display: none;
}
.C031.isReservation.isActived .C037 {
    flex: 1 1 77.5%;
}
.C038 {
    height: calc(100% - var(--size-80));
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C038::-webkit-scrollbar {
    display: none;
}
.C038.isOverflowed { 
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C039 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    margin: var(--size-2) var(--size-2) var(--size-2) 0;
    padding-right: var(--size-10);
    border-radius: var(--size-15);
    width: fit-content;
    transition: .3s;
    cursor: pointer;
}
.C039:hover {
    background-color: var(--color-blue-25);
}
.C040 {
    width: var(--size-26);
    height: var(--size-26);
    background: url(/images/female-64.jpg) no-repeat center center / cover;
    border-radius: var(--size-15);
    border: var(--size-2) solid var(--color-white);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-7);
}
.C040.isMale {
    background: url(/images/male-64.jpg) no-repeat center center / cover;
}
.C041 {
    flex: 1 1 55%;
    align-self: stretch;
    background: linear-gradient(to right, var(--color-black-3), var(--color-black-0) 15%);
    display: none;
    margin: calc(-1 * var(--size-10)) calc(-1 * var(--size-10)) calc(-1 * var(--size-10)) 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    user-select: none;
}
.C041::-webkit-scrollbar {
    display: none;
}
.C041:active {
    cursor: grabbing;
}
.C031.isActived .C041 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.C042 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    background-color: var(--color-black-3);
    border-radius: var(--size-15);
    padding: var(--size-10) var(--size-15) var(--size-10) var(--size-10);
    flex-shrink: 0;
    white-space: nowrap;
}
.C043 {
    display: flex;
    width: var(--size-40);
    height: var(--size-40);
    flex-shrink: 0;
}
.C044 {
    display: flex;
    flex-direction: column;
}
.C045 {
    display: flex;
    flex-direction: row;
    gap: var(--size-25);
    flex-shrink: 0;
    padding: var(--size-10) var(--size-10) var(--size-10) var(--size-25);
}
.C046 {
    position: absolute;
    left: 0;
    margin-left:calc(-1 * var(--size-15));
    border-radius: 50%;
    border: var(--size-4) solid var(--color-white);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-15);
    background-color: var(--color-black);
}
.C046:has(.C047.isChecked) {
    background-color: var(--color-green);
}
.C046:has(.C047.isMyLocation) {
    background-color: var(--color-red);
}
.C046.isEmpty {
    background-color: var(--color-black-25);
    width: var(--size-20);
    height: var(--size-20);
    margin-left: calc(-1 * var(--size-12));
    margin-top: var(--size-2);
    backdrop-filter: blur(var(--size-10));
}
.C047 {
    width: var(--size-20);
    height: var(--size-20);
    filter: brightness(0) invert(1);
}
.C048 {
    flex: 1 1 55%;
    min-width: 0;
    display: none;
    flex-wrap: wrap;
    align-items: center;
}
.C031.isActived .C048 {
    display: flex;
}
.C031.isFolded .C048 {
    display: none;
}
.C049 {
    display: none;
    justify-content: flex-end;
    margin-left: auto;
}
.C050 {
    padding: var(--size-10);
    background-color: var(--color-black-3);
    color: var(--color-black-50);
    font-size: var(--font-14);
    border: var(--size-2) solid var(--color-black-3);
    margin-left: calc(-1 * var(--size-2));
    transition: background-color .15s ease-out, color .15s ease-out, border-color .15s ease-out;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
.C050:first-of-type {
    border-radius: var(--size-15) 0 0 var(--size-15);
}
.C050:last-of-type {
    border-radius: 0 var(--size-15) var(--size-15) 0;
}
.C050.isSelected {
    background-color: var(--color-green-15);
    color: var(--color-black);
    border-color: var(--color-green);
    z-index: 1;
}
.C050:hover {
    opacity: .5;
    z-index: 0;
}
.C050.isSelected:hover {
    z-index: 1;
}
.C031.isActived .C049 {
    display: flex;
}
.C031.isFolded .C049 {
    display: none;
}
.C051 {
    display: none;
    align-items: center;
    margin-left: auto;
    background-color: var(--color-black-15);
    border-radius: var(--size-15);
    padding: var(--size-10);
    opacity: .25;
    transition: .3s;
    cursor: pointer;
}
.C051:hover {
    opacity: .5;
}
.C031.isActived .C051 {
    display: flex;
}
.C031.isFolded .C051 {
    display: none;
}
.C052 {
    width: var(--size-20);
    height: var(--size-20);
}
.C053 {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.C053::-webkit-scrollbar {
    display: none;
}
.C053:active {
    cursor: grabbing;
}
.C054 {
    display: flex;
    flex-direction: row;
    gap: var(--size-3);
    width: max-content;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.C055 {
    width: var(--size-60);
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    opacity: 0;
}
.C056 {
    transition: .3s;
    cursor: pointer;
}
.C056:hover .T028 {
    background-color: var(--color-blue-15);
}
.C057 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: var(--size-15);
    background: linear-gradient(to top, var(--color-black-3), var(--color-black-0) 25%);
}
.C057.isNotShadow {
    background: none;
}
.C057:hover .T029 {
    opacity: 1;
}
.C058 {
    width: fit-content;
    display: inline-flex;
    gap: var(--size-10);
    margin: 0 auto;
}
.C059 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    padding: var(--size-10) var(--size-10) var(--size-10) var(--size-20);
    width: fit-content;
    background-color: var(--color-white-25);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-7);
    border-radius: var(--size-15);
    height: var(--size-60);
    transition: .3s;
    cursor: pointer;
}
.C059.isToday {
    padding-right: var(--size-20);
}
.C059:hover {
    opacity: .5;
}
.C060 {
    width: var(--size-40);
    height: var(--size-40);
}
.C061 {
    position: fixed;
    padding: var(--size-5) var(--size-10);
    border-radius: var(--size-10);
    background: var(--color-black-50);
    color: var(--color-white);
    pointer-events: none;
    z-index: 9;
    white-space: nowrap;
    backdrop-filter: blur(var(--size-10));
}
.C062 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-black-15);
    z-index: 9;
}
.C063 {
    width: var(--size-600);
    height: var(--size-600);
    background-color: var(--color-white-50);
    border-radius: var(--size-30);
    backdrop-filter: blur(var(--size-20));
    box-shadow: 0 var(--size-20) var(--size-80) var(--color-black-25);
    position: fixed;
    padding: var(--size-30);
    z-index: 10;
}
.C064 {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    gap: var(--size-10);
}
.C065 {
    padding:var(--size-5) var(--size-10);
    background-color: var(--color-white-25);
    border-radius: var(--size-15);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-7);
    display: flex;
    height: var(--size-50);
    align-items: center;
    transition: .3s;
    cursor: pointer;
}
.C065:hover {
    opacity: .5;
}
.C066 {
    width: var(--size-40);
    height: var(--size-40);
}
.C067 {
    display: flex;
    flex-direction: column;
}
.C068 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: var(--size-10) 0;
}
.C068::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--size-2);
    background: linear-gradient(
        to right,
        var(--color-black-0) 0%,
        var(--color-black-25) 50%,
        var(--color-black-0) 100%
    );
}
.C068::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--size-2);
    background: linear-gradient(
        to right,
        var(--color-black-0) 0%,
        var(--color-black-25) 50%,
        var(--color-black-0) 100%
    );
}
.C069 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.C070 {
    width: 100%;
    padding: var(--size-15) var(--size-20);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    transition: .3s;
    cursor: pointer;
}
.C070:hover {
    opacity: .5;
    background-color: var(--color-blue-7);
}
.C071 {
    width: fit-content;
    border-radius: var(--size-15);
    background: linear-gradient(to right, var(--color-black), var(--color-black-75)), var(--color-mint);
    box-shadow: var(--size-5) var(--size-5) var(--size-20) var(--color-black-50), calc(-1 * var(--size-5)) calc(-1 * var(--size-5)) var(--size-20) var(--color-mint-15);
    border: var(--size-4) solid var(--color-white-25);
    border-left: var(--size-4) solid var(--color-white-50);
    border-right: var(--size-4) solid var(--color-white-50);
    justify-items: flex-end;
    margin-left: auto;
}
.C072 {
    width: var(--size-40);
    height: var(--size-40);
    filter: brightness(0) invert(1);
}
.C073 {
    background: linear-gradient(to bottom, var(--color-black-3), var(--color-black-0) 10%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    background-color: var(--background-green);
    display: flex;
    flex-direction: column;
}
.C074 {
    position: absolute;
    width: var(--size-120);
    height: 100%;
    border-right: var(--size-3) solid var(--color-black-3);
    margin-top: var(--size-300);
}
.C075 {
    width: var(--size-500);
    height: calc(100vh - var(--size-300));
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background:linear-gradient(to bottom, var(--color-black-3), var(--color-black-0) 10%);
}
.C075::-webkit-scrollbar {
    display: none;
}
.C076 {
    display: flex;
    flex-direction: row;
    margin: var(--size-10) 0;
}
.C077 {
    margin-left: var(--size-20);
    margin-top: var(--size-5);
    flex: 0 0 var(--size-80);
}
.C078 {
    flex: 0 0 var(--size-40);
    margin-top: var(--size-5);
}
.C079 {
    width: fit-content;
    background-color: var(--color-white-50);
    padding: var(--size-15);
    border-radius: var(--size-25);
    min-width: var(--size-60);
    margin-right: var(--size-15);
    transition: .3s;
    cursor: pointer;
}
.C079.isMine {
    background-color: var(--background-white);
}
.C079:hover {
    opacity: .5;
}
.C080 {
    width: var(--size-28);
    height: var(--size-28);
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--size-4) solid var(--color-white);
    border-radius: var(--size-15);
    margin: 0 var(--size-6);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-15);
    background-color: var(--color-black);
}
.C080.isFitted {
    margin: calc(-1 * var(--size-5));
    z-index: 1;
}
.C080.isEmpty {
    background-color: var(--color-black-25);
    width: var(--size-20);
    height: var(--size-20);
    margin-left: var(--size-10);
    backdrop-filter: blur(var(--size-10));
}
.C081 {
    width: var(--size-20);
    height: var(--size-20);
    filter: brightness(0) invert(1);
}
.C080:has(.C081.isMegaphone) {
    background-color: var(--color-red);
}
.C080:has(.C081.isChecked), .C080:has(.C081.isArrow) {
    background-color: var(--color-green);
}
.C082 {
    width: var(--size-26);
    height: var(--size-26);
    margin: var(--size-6) 0 0 var(--size-6);
    box-shadow: 0 var(--size-4) var(--size-10) var(--color-black-15);
    border: var(--size-2) solid var(--color-white);
    border-radius: var(--size-15);
    background: url(/images/female-128.jpg) no-repeat center center / cover;
}
.C083 {
    padding-right: var(--size-10);
}
.C084 {
    width: var(--size-50);
    height: var(--size-50);
}
.C085 {
    display: flex;
    align-items: center;
    margin-top: var(--size-10);
    flex-wrap: wrap;
}
.C086 {
    display: flex;
    gap: var(--size-3);
}
.C087 {
    display: flex;
    gap: var(--size-5);
    align-items: center;
}
.C088 {
    transition: .3s;
    cursor: pointer;
}
.C088:hover {
    opacity: .5;
}
.C089 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.C090 {
    width: 100%;
    top: 0;
    background-color: var(--background-green);
    border-bottom: var(--size-4) solid var(--color-black-3);
    padding: var(--size-10);
    display: flex;
    align-items: center;
    position: relative;
}
.C091 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
    width: fit-content;
    background-color: var(--color-white-50);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-3);
    border-radius: var(--size-15);
    padding: var(--size-5) var(--size-20) var(--size-5) var(--size-10);
    cursor: pointer;
    transition: .3s;
}
.C091.isFitted {
    padding: var(--size-5) var(--size-10);
}
.C091:hover {
    opacity: .5;
}
.C092 {
    width: var(--size-40);
    height: var(--size-40);
}
.C093 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.C094 {
    position: absolute;
    right: var(--size-10);
    display: flex;
    align-items: center;
    gap: var(--size-10);
}
.C095 {
    display: flex;
    align-items: center;
    gap: var(--size-5);
}
.C096 {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    border-radius: var(--size-25);
    transition: .3s;
}
.C096.isOpened {
    backdrop-filter: blur(var(--size-10));
}
.C097 {
    height: 100%;
    width: 90%;
    position: absolute;
    top:0;
    left:40%;
    background-color: var(--color-white);
    border-radius: var(--size-25);
    box-shadow: calc(-1 * var(--size-30)) 0 var(--size-60) var(--color-black-7);
    transition: .3s;
    opacity: 0;
    display: flex;
}
.C096.isOpened .C097 {
    left:10%;
    opacity: 1;
}
.C098 {
    width: var(--size-320);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.C099 {
    width: calc(100% - var(--size-320));
    height: 100%;
    background-color: var(--color-black-3);
    top:0;
    border-left: var(--size-2) solid var(--color-black-7);
    border-radius: 0 var(--size-25) var(--size-25) 0;
}
.C100 {
    position: absolute;
    top:0;
    right: 0;
    width: var(--size-180);
    height: 100%;
    padding: var(--size-5);
    background-color: var(--color-white);
    border-radius: var(--size-25);
    box-shadow: calc(-1 * var(--size-10)) 0 var(--size-60) var(--color-black-3);
    transition: .3s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    z-index: 1;
}
.C100:hover {
    width: var(--size-520);
}
.C101 {
    display: flex;
    gap: var(--size-5);
    padding: var(--size-20) var(--size-15) var(--size-10);
    align-items: center;
}
.C102 {
    width: var(--size-50);
    height: var(--size-50);
    display: flex;
    justify-items: flex-end;
    border-radius: var(--size-15);
    align-items: center;
    background-color: var(--color-black-3);
    cursor: pointer;
    transition: .3s;
}
.C102:hover {
    opacity: .5;
}
.C103 {
    width: var(--size-40);
    height: var(--size-40);
    margin: 0 auto;
    opacity: .25;
}
.C104 {
    height: var(--size-80);
    width: calc(100% - var(--size-180));
    border-bottom: var(--size-2) solid var(--color-black-3);
    padding: var(--size-20) var(--size-15) var(--size-10);
    display: flex;
    align-items: center;
}
.C105 {
    height: calc(100% - var(--size-80));
    display: flex;
}
.C106 {
    width: var(--size-150);
    border-right: var(--size-4) solid var(--color-black-3);
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C106::-webkit-scrollbar {
    display: none;
}
.C106.isOverflowed {
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C107 {
    width: calc(100% - var(--size-310));
    height: 100%;
    margin-left: calc(-1 * var(--size-20));
    z-index: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C107::-webkit-scrollbar {
    display: none;
}
.C108 {
    width: var(--size-50);
    height: var(--size-50);
    display: flex;
    justify-items: flex-end;
    border-radius: var(--size-15);
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-15);
    position: absolute;
    left:calc(-1 * var(--size-30));
    cursor: pointer;
    transition: .3s;
    backdrop-filter: blur(var(--size-20));
}
.C108:hover {
    opacity: .5;
}
.C109 {
    border-radius: 0 0 0 var(--size-30);
    overflow: hidden;
}
.C109 {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 0;
}
.C109::-webkit-scrollbar {
    display: none;
}
.C109.isOverflowed {
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C110 {
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-15);
    margin: var(--size-10);
    background-color: var(--color-white-50);
}
.C110 .C111:last-of-type {
    border-bottom: none;
}
.C110.isFolded {
    border: none;
    box-shadow: 0 var(--size-5) var(--size-20) var(--color-black-7);
}
.C111 {
    display: flex;
    gap: var(--size-3);
    height: var(--size-50);
    align-items: center;
    padding: var(--size-10) var(--size-20);
    border-bottom: var(--size-2) dashed var(--color-black-7);
}
.C111:first-of-type {
    cursor: pointer;
    transition: .3s;
}
.C111:first-of-type:hover {
    opacity: .5;
}
.C110.isFolded .C111:not(:first-of-type), .C110.isFolded .C114, .C110.isOpened .C116 {
    display: none;
}
.C110.isFolded .C111:first-of-type {
    border-bottom: none;
}
.C112 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    width: var(--size-30);
    height: var(--size-40);
}
.C113 {
    width: var(--size-20);
    height: var(--size-20);
    display: flex;
    align-items: center;
    justify-content: center;
}
.C110.isOpened .C113 {
    transform: rotate(180deg);
}
.C114 {
    align-items: center;
    padding: var(--size-10) var(--size-20);
}
.C115 {
    margin-top: var(--size-5);
    flex-wrap: wrap;
    display: flex;
    gap: var(--size-5);
    padding: var(--size-10) 0;
}
.C116 {
    margin-top: var(--size-10);
    flex-wrap: wrap;
    display: flex;
    gap: var(--size-5);
    padding: 0 var(--size-20) var(--size-20);
    align-items: center;
}
.C117 {
    padding: var(--size-10) var(--size-20);
    border-bottom: var(--size-2) dashed var(--color-black-7);
}
.C110.isFolded .C117 {
    display: none;
}
.C118 {
    display: flex;
    align-items: center;
    margin: var(--size-5) 0;
}
.C119 {
    width: var(--size-40);
    height: var(--size-40);
    border-radius: var(--size-15);
    border: var(--size-3) solid var(--color-black-7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.C119:has(.C121.isFace) {
    border-color: var(--color-mint);
}
.C119:has(.C121.isShoulder) {
    border-color: var(--color-blue);
}
.C119:has(.C121.isArm) {
    border-color: var(--color-green);
}
.C119:has(.C121.isBelly) {
    border-color: var(--color-yellow);
}
.C119:has(.C121.isWaist) {
    border-color: var(--color-purple);
}
.C119:has(.C121.isThigh) {
    border-color: var(--color-magenta);
}
.C119:has(.C121.isCalf) {
    border-color: var(--color-red);
}
.C120 {
    margin-left: var(--size-10);
    width: calc(100% - var(--size-50));
}
.C121 {
    width: var(--size-30);
    height: var(--size-30);
}
.C122 {
    display: flex;
    gap: var(--size-5);
}
.C123 {
    width: 100%;
    padding-bottom: var(--size-15);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    max-height: var(--size-500);
}
.C123::-webkit-scrollbar {
    display: none;
}
.C123.isOverflowed {
    background-image: linear-gradient(var(--color-black-3), var(--color-black-0) 10%, var(--color-black-0) 95%, var(--color-black-3) 100%);
}
.C110.isFolded .C123 {
    display: none;
}
.C124 {
    width: var(--size-30);
    height: calc(100% - var(--size-50));
    border-right: var(--size-4) solid var(--color-black-3);
    position: absolute;
    border-radius: 0 0 0 var(--size-15);
}
.C125 {
    width: calc(100% - var(--size-30));
    margin-left: var(--size-30);
    padding: var(--size-10) 0;
}
.C126 {
    padding: var(--size-10) var(--size-20);
    border: var(--size-2) solid var(--color-black-7);
    border-radius: var(--size-15);
    margin: var(--size-10) var(--size-20) 0;
}
.C127 {
    padding: var(--size-10);
    border-radius: var(--size-15);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    gap: var(--size-5);
    opacity: .5;
    width: var(--size-160);
    height: var(--size-60);
    margin: var(--size-5) var(--size-5) 0;
}
.C127.isSelected {
    opacity: 1;
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-15);
}
.C127:hover {
    opacity: 1;
    background-color: var(--color-blue-7);
}
.C128 {
    width: var(--size-40);
    height: var(--size-40);
    display: flex;
    align-items: center;
    justify-content: center;
}
.C129 {
    width: 100%;
    height: fit-content;
    padding: var(--size-15) var(--size-20);
    border-bottom: var(--size-2) solid var(--color-black-7);
    cursor: pointer;
    transition: .3s;
    opacity: .5;
}
.C129:hover {
    opacity: 1;
    background-color: var(--color-blue-7);
}
.C129.isSelected {
    opacity: 1;
    background-color: var(--color-white);
    border-bottom: var(--size-2) solid var(--color-white);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-15);
    z-index: 1;
}
.C130 {
    margin: var(--size-10) 0;
}
.C131 {
    display: flex;
    align-items: center;
}
.C132 {
    padding: var(--size-10) var(--size-15);
    background-color: var(--color-white-75);
    margin: var(--size-10) var(--size-20) var(--size-10) var(--size-40);
    border-radius: var(--size-20);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-3);
    width: fit-content;
}
.C132.isFull {
    width: calc(100% - var(--size-60));
}
.C132.isFolded {
    /* 접힌 상태 스타일 (필요시 추가) */
}
.C132.isOpened {
    border: var(--size-2) solid var(--color-black-7);
    box-shadow: none;
}
.C132.isOpened .C113 {
    transform: rotate(180deg);
}
.C133 {
    display: flex;
    align-items: center;
}
.C132.isFull .C133 {
    width: 100%;
}
.C134 {
    width: var(--size-40);
    height: var(--size-40);
    border-radius: var(--size-20);
    position: relative;
    flex: 0 0 var(--size-40);
    min-width: var(--size-40);
}
.C136 {
    padding: var(--size-10) var(--size-15);
    background-color: var(--color-white-50);
    border-radius: var(--size-20);
    box-shadow: 0 var(--size-10) var(--size-30) var(--color-black-3);
    width: fit-content;
    margin-left: var(--size-5);
}
.C137 {
    margin: var(--size-10) 0;
    display: flex;
}
.C139 {
    width: 100%;
    border-top: var(--size-2) solid var(--color-black-3);
    margin: var(--size-10) var(--size-20) 0;
    padding-top: var(--size-10);
    display: none;
}
.C100:hover .C139 {
    display: block;
}
.C140 {
    padding: var(--size-20) 0 0 0;
}
.C141:has(.C134.isIMaskMagenta.isSyringe) {
    width: var(--size-40);
    height: var(--size-40);
    border-radius: var(--size-20);
    position: relative;
    flex: 0 0 var(--size-40);
    background-color: var(--color-magenta-15);
}
.C142 {
    margin-top:calc(-1 * var(--size-10));
    backdrop-filter: blur(var(--size-10));
    border-radius: var(--size-15);
}
.C143 {
    margin: 0 0 var(--size-10) var(--size-10);
    flex: 1 1 100%;
    min-width: 0;
}
.C144 {
    border-radius: var(--size-20);
    margin-left: var(--size-5);
    display: flex;
    align-items: center;
    gap: var(--size-4);
    width: calc(100% - var(--size-10));
    min-width: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
}
.C144:first-of-type {
    cursor: pointer;
    transition: .3s;
}
.C144:first-of-type:hover {
    opacity: .5;
}
.C145 {
    position: absolute;
    width: var(--size-30);
    height: var(--size-30);
    border-radius: var(--size-12);
    background-color: var(--color-white-7);
    backdrop-filter: blur(var(--size-5));
    border: var(--size-2) solid var(--color-white-0);
    box-shadow: 0 var(--size-5) var(--size-15) var(--color-black-15);
    top: 0;
}
.C145 {
    cursor: pointer;
    transition: 0.3s;
    display: none;
}
.C140:has(.C145) .C145 {
    display: flow-root;
}
.C145:hover:not(.isDisabled) {
    opacity: 0.8;
}
.C145.isChecked {
    background: var(--color-blue);
    box-shadow: 0 var(--size-5) var(--size-25) var(--color-mint-50);
    border: var(--size-2) solid var(--color-white);
}
.C145.isChecked .C146 {
    display: flow-root;
    filter: brightness(0) invert(1);
}
.C145.isDisabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.C146 {
    width: var(--size-20);
    height: var(--size-20);
    margin: var(--size-4) auto;
    display:none;
}
.C147 {
    border-top: var(--size-2) solid var(--color-black-3);
    margin-top: var(--size-10);
    display: none;
    padding-left: var(--size-55);
}
.C132.isOpened .C147 {
    display: flex;
}
.C148 {
    width: 25%;
    padding: var(--size-10) 0;
}
.C149 {
    width: var(--size-65);
    height: var(--size-30);
    display: flex;
    align-items: center;
    margin-left: calc(-1 * var(--size-5));
}
.C150 {
    width: var(--size-65);
    height: var(--size-25);
}
.C151 {
    border-top: var(--size-2) solid var(--color-black-3);
    margin-left: var(--size-55);
    padding: var(--size-10) 0;
    display: none;
    flex-wrap: wrap;
}
.C132.isOpened .C151 {
    display: flex;
}
.C152 {
    position: absolute;
    background: linear-gradient(to right, var(--color-black-50), var(--color-black-75));
    backdrop-filter: blur(var(--size-5));
    right: calc(-1 * var(--size-65));
    bottom: var(--size-20);
    width: var(--size-180);
    height: var(--size-60);
    border-radius: var(--size-20);
    box-shadow: 0 var(--size-10) var(--size-35) var(--color-black-50);
    transform: translateX(var(--size-40));
    opacity: 0;
    transition: .3s;
    z-index: 1;
}
.C152.isOpened {
    transform: translateX(0);
    opacity: 1;
}
.C152.isFolded {
    width: var(--size-60);
    right: calc(-1 * var(--size-40));
}
.C153 {
    display: flex;
    align-items: center;
    gap: var(--size-10);
    padding: var(--size-10);
    height: 100%;
    transition: .3s;
    cursor: pointer;
}
.C153:hover {
    opacity: 0.5;
}
.C154 {
    width: var(--size-40);
    height: var(--size-40);
    filter: brightness(0) invert(1);
}
.C155 {
    overflow: hidden;
}
.C156 {
    width: 100%;
    flex: 1;
    min-height: 0;
    background: linear-gradient(to bottom, var(--color-black-3), var(--color-black-0) 10%);
    padding: var(--size-10) 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C156::-webkit-scrollbar {
    display: none;
}
.C135 {
    padding: var(--size-15) var(--size-20);
    display: flex;
    align-items: center;
}
.C157 {
    border-radius: var(--size-15);
    background-color: var(--color-white-50);
    width: fit-content;
    box-shadow: 0 var(--size-5) var(--size-20) var(--color-black-7);
    justify-items: flex-end;
    padding: var(--size-4) var(--size-10);
    display: flex;
    align-items: center;
    margin-right: var(--size-15);
}
.C158 {
    width: var(--size-40);
    height: var(--size-40);
}
.C159 {
    margin: var(--size-10) var(--size-20);
}
.C159.isMine {
    margin-left: auto;
    margin-right: var(--size-20);
}
.C159.isMine .C039 {
    margin-left: auto;
}
.C159.isMine .C160 {
    flex-direction: row-reverse;
}
.C159.isMine .C161 {
    background-color: var(--color-white);
    box-shadow: 0 var(--size-5) var(--size-20) var(--color-black-7);
}
.C159.isMine .C162 {
    margin-left: 0;
    margin-right: var(--size-10);
}
.C159.isMine .C164 {
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.C160 {
    display: flex;
}
.C161 {
    margin: var(--size-10) 0;
    padding: var(--size-15) var(--size-20);
    background-color: var(--color-white-50);
    border-radius: var(--size-15);
    box-shadow: 0 var(--size-5) var(--size-20) var(--color-black-3);
    max-width: 75%;
    width:fit-content;
}
.C162 {
    margin-left: var(--size-10);
}
.C163 {
    display: flex;
    align-items: center;
    gap: var(--size-4);
}
.C164 {
    display: flex;
    align-items:end;
}
.C165 {
    display: flex;
    align-items: center;
}
.C166 {
    width: 100%;
    flex: 1;
    min-height: 0;
    background: linear-gradient(to bottom, var(--color-black-3), var(--color-black-0) 10%);
    padding: var(--size-10) 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.C166::-webkit-scrollbar {
    display: none;
}
.C167 {
    width: calc(100% - var(--size-40));
    background-color: var(--color-white-50);
    position: absolute;
    top: var(--size-150);
    padding: var(--size-10) var(--size-20) var(--size-10) var(--size-10);
    margin: var(--size-20);
    border-radius: var(--size-20);
    box-shadow: 0 var(--size-5) var(--size-20) var(--color-black-7);
    backdrop-filter: blur(var(--size-20));
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.C167:hover {
    background-color: var(--color-white);
}
.C168 {
    padding: var(--size-5);
    border-radius: var(--size-15);
    background-color: var(--color-white-50);
    width: fit-content;
    box-shadow: 0 var(--size-5) var(--size-20) var(--color-black-3);
}
.C169 {
    width: var(--size-40);
    height: var(--size-40);
}
.C170 {
    margin-left: var(--size-10);
    width: calc(100% - var(--size-100));
}
.C171 {
    display: flex;
    align-items: center;
}