.T000 {
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-size: var(--font-17);
    margin-top: var(--size-10);
}

.T001 {
    color: var(--color-green);
    text-align: center;
    font-size: var(--font-15);
    margin-top: var(--size-5);
}
.T003 {
    font-size: var(--font-14);
}
.T004 {
    font-size: var(--font-14);
    color: var(--color-green);
}
.T005 {
    font-size: var(--font-14);
    margin-left: var(--size-10);
    display: flex;
    align-items: center;
    color: var(--color-black-25);
}
.T006 {
    position: absolute;
    width: fit-content;
    padding: 0 var(--size-5);
    height: var(--size-20);
    line-height: var(--size-20);
    border-radius: var(--size-10);
    top: 0;
    right: 0;
    font-size: var(--font-14);
    margin-left: var(--size-10);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-red);
}
.T007 {
    font-size: var(--font-21);
    width: fit-content;
    margin: 0px;
    font-weight: 700;
    display: inline-flex;
}
.T008 {
    font-size: var(--font-14);
    display: flex;
    align-items: center;
}
.T009 {
    font-size: var(--font-14);
    display: flex;
    align-items: center;
    color: var(--color-black-25);
}
.T010 {
    font-size: var(--font-14);
    width: 100%;
    line-height: var(--size-40);
    padding: 0 var(--size-20);
    color: var(--color-black-50);
    pointer-events: none;
}
.T010:first-of-type {
    text-align: right;
    color: var(--color-green);
}
.T010.isMini {
    font-size: var(--font-12);
}
.T011 {
    font-size: var(--font-19);
    margin-left: var(--size-10);
}
.T011 .isGrey {
    color: var(--color-black-25);
}
.T012 {
    font-size: var(--font-14);
    color: var(--color-black-25);
    justify-self: flex-end;
    margin-left: auto;
}
.T012 .isValue {
    font-size: var(--font-21);
}
.C031.isFolded .T012 {
    display: none;
}
.C031.isClinic .T012 {
    display: none;
}
.C031.isClinic.isActived .T012 {
    display: flow-root;
}
.T013 {
    font-size: var(--font-17);
    margin-right: 3px;
}
.T014 {
    font-size: var(--font-14);
    padding: var(--size-2) var(--size-5);
    color: var(--color-white);
    border-radius: var(--size-8);
    background-color: var(--color-black-15);
    height: fit-content;
}
.C176 .T014 {
    background-color: var(--color-white-15);
}
.T014.isRed {
    background-color: var(--color-magenta);
}
.T014.isBlue {
    background-color: var(--color-blue);
}
.T014.isOldbie {
    background-color: var(--color-green-25);
    color: var(--color-green);
    font-weight: 800;
}
.T014 .isUnit {
    opacity: 0.5;
}
.T015 {
    font-size: var(--font-15);
    color: var(--color-black-25);
}
.C176 .T015 {
    color: var(--color-white-50);
}
.T016 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
}
.T017 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
    background-color: var(--color-black-7);
}
.T017.isRed {
    background-color: var(--color-magenta-15);
}
.T017.isGreen {
    background-color: var(--color-green-15);
}
.T017.isBlue {
    background-color: var(--color-blue-15);
}
.T018 {
    font-size: var(--font-14);
    text-decoration: underline;
    font-weight: 800;
}
.T019 {
    font-size: var(--font-12);
    color: var(--color-black-25);
    margin-right: var(--size-5);
}
.T019.isGreen {
    color: var(--color-green);
}
.T019.isYellow {
    color: var(--color-yellow);
}
.T019.isRed {
    color: var(--color-red);
}
.T019.isMagenta {
    color: var(--color-magenta);
}
.T020 {
    font-size: var(--font-14);
    color: var(--color-black-25);
    justify-self: flex-end;
    margin-left: auto;
    display: none;
}
.T020 .isValue {
    font-size: var(--font-21);
}
.T020 .isBlack {
    color: var(--color-black);
}
.T020 .isRed {
    color: var(--color-red);
}
.C031.isFolded .T020 {
    display: flow-root;
}
.C031.isClinic .T020 {
    display: flow-root;
}
.C031.isClinic.isActived .T020 {
    display: none;
}
.T021 {
    font-size: var(--font-12);
    color: var(--color-black-50);
    font-weight: 800;
}
.T022 {
    font-size: var(--font-14);
    color: var(--color-black);
}
.T023 {
    color: var(--color-black-50);
    margin-right: var(--size-5);
    display: none;
}
.C031.isActived .T023 {
    display: block;
}
.T024 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
    background-color: var(--color-black-7);
    color: var(--color-black-75);
    display: none;
}
.C031.isActived .T024 {
    display: block;
}
.T025 {
    font-size: var(--font-14);
    color: var(--color-black-50);
}
.C176 .T025 {
    color: var(--color-white-50);
}
.C050.isSelected .T025 {
    color: var(--color-black);
}
.C176 .C050.isSelected .T025 {
    color: var(--color-green);
}
.T026 {
    font-size: var(--font-14);
    font-weight: 800;
}
.T027 {
    font-size: var(--font-14);
    text-align: center;
    font-weight: 800;
    color: var(--color-black-50);
    margin: 0 var(--size-5);
}
.C063.isDark .T027 {
    color: var(--color-white);
}
.T028 {
    font-size: var(--font-24);
    text-align: center;
    line-height: var(--size-60);
    border-radius: var(--size-30);
    margin: var(--size-15) 0;
    transition: .3s;
}
.C055.isSelected .T028 {
    background-color: var(--color-black);
    color: var(--color-white);
    box-shadow: var(--size-5) var(--size-15) var(--size-30) var(--color-black-7);
}
.C055.isToday .T028 {
    background-color: var(--color-red);
    color: var(--color-white);
    box-shadow: var(--size-5) var(--size-15) var(--size-30) var(--color-red-25);
}
.C055.isSelected.isToday .T028  {
    background: repeating-linear-gradient(
        45deg,
        var(--color-red),
        var(--color-red) var(--size-5),
        var(--color-black) var(--size-5),
        var(--color-black) var(--size-10)
    );
    background-size: calc(var(--size-10) * 1.414) calc(var(--size-10) * 1.414);
    animation: diagonalFlow 2s linear infinite;
    position: relative;
    overflow: hidden;
}

.C055.isSelected.isToday .T028::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.08) var(--size-8),
        transparent var(--size-8),
        transparent var(--size-16)
    );
    background-size: calc(var(--size-16) * 1.414) calc(var(--size-16) * 1.414);
    animation: diagonalFlowLight 1.5s linear infinite;
    pointer-events: none;
}
.T029 {
    margin: 0 auto;
    width: fit-content;
    padding: var(--size-5) var(--size-10);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 0 0 var(--size-10) var(--size-15);
    border: var(--size-2) solid var(--color-white);
    border-top: none;
    box-shadow: 0 var(--size-4) var(--size-16) var(--color-black-15);
    transition: .3s;
    opacity: 0.15;
}
.C057:hover .T029 {
    opacity: .75;
}
.T030 {
    padding-right: var(--size-10);
    border-right: var(--size-2) solid var(--color-black-7);
    font-size: var(--font-17);
}
.T031 {
    color: var(--color-black-50);
}
.T032 {
    color: var(--color-black-50);
    width: calc(100% / 7);
    line-height: var(--size-40);
    text-align: center;
}
.C063.isDark .T032 {
    color: var(--color-white);
}
.T033 {
    font-size: var(--font-19);
    text-align: center;
    margin-top: var(--size-20);
}
.C063.isDark .T033 {
    color: var(--color-white);
}
.T034 {
    color: var(--color-black-50);
    width: var(--size-50);
    line-height: var(--size-50);
    margin: var(--size-2);
    text-align: center;
    border-radius: var(--size-25);
    cursor: pointer;
    transition: .3s;
}
.C063.isDark .T034 {
    color: var(--color-white);
}
.T034.isSelected {
    color: var(--color-white);
    background-color: var(--color-black);
}
.C063.isDark .T034.isSelected {
    background-color: var(--color-white);
    color: var(--color-black);
}
.T034.isToday {
    background-color: var(--color-red);
    color: var(--color-white);
}
.T034:hover {
    background-color: var(--color-blue-15);
}
.T034.isOtherMonth {
    opacity: 0;
}
.T034.isSelected.isToday  {
    background: repeating-linear-gradient(
        45deg,
        var(--color-red),
        var(--color-red) var(--size-5),
        var(--color-black) var(--size-5),
        var(--color-black) var(--size-10)
    );
    background-size: calc(var(--size-10) * 1.414) calc(var(--size-10) * 1.414);
    animation: diagonalFlow 2s linear infinite;
    position: relative;
    overflow: hidden;
}
.C063.isDark .T034.isSelected.isToday {
    background: repeating-linear-gradient(
        45deg,
        var(--color-red),
        var(--color-red) var(--size-5),
        var(--color-white) var(--size-5),
        var(--color-white) var(--size-10)
    );
    background-size: calc(var(--size-10) * 1.414) calc(var(--size-10) * 1.414);
}
.T034.isSelected.isToday::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.08) var(--size-8),
        transparent var(--size-8),
        transparent var(--size-16)
    );
    background-size: calc(var(--size-16) * 1.414) calc(var(--size-16) * 1.414);
    animation: diagonalFlowLight 1.5s linear infinite;
    pointer-events: none;
}

@keyframes diagonalFlow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(var(--size-10) * 1.414) 0;
    }
}

@keyframes diagonalFlowLight {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(var(--size-16) * 1.414) 0;
    }
}

.T035 {
    font-size: var(--font-19);
    margin-left: var(--size-15);
}
.T036 {
    font-size: var(--font-14);
    text-align: right;
    margin-top: var(--size-3);
}
.T037 {
    font-size: var(--font-14);
    text-align: right;
    margin-top: var(--size-10);
    text-decoration: underline;
}
.T038 {
    font-size: var(--font-12);
    color: var(--color-black-25);
    text-align: right;
}
.T039 {
    font-size: var(--font-14);
}
.T040 {
    font-size: var(--font-15);
}
.T042 {
    font-size: var(--font-14);
    background-color: var(--color-black-7);
    padding: .1em var(--size-3) 0 var(--size-3);
}
.C176 .T042 {
    background-color: var(--color-white-15);
}
.T042.isGreen {
    color: var(--color-green);
    background-color: var(--color-green-15);
}
.T042.isOldbie {
    color: var(--color-green);
    background-color: var(--color-green-15);
    font-weight: 800;
}
.T042.isRed {
    color: var(--color-red);
    background-color: var(--color-red-15);
}
.T042.isBlue {
    color: var(--color-blue);
    background-color: var(--color-blue-15);
}
.T042.isMagenta {
    color: var(--color-magenta);
    background-color: var(--color-magenta-15);
}
.T042.isWhite {
    color: var(--color-white);
    background-color: var(--color-white-7);
}
.T043 {
    margin-left: var(--size-10);
    font-size: var(--font-15);
}
.T044 {
    font-size: var(--font-14);
}
.T045 {
    font-size: var(--font-19);
    text-align: center;
}
.T046 {
    font-size: var(--font-14);
    text-align: center;
}
.T047 {
    margin-right: auto;
    font-size: var(--font-19);
    margin-left: var(--size-10);
}
.T048 {
    font-weight: 800;
    flex: 1 1 var(--size-50)
}
.T049 {
    font-size: var(--font-14);
}
.T049.isLarge {
    font-size: var(--font-19);
}
.T049.isRight {
    text-align: right;
    margin-left: auto;
    align-items: flex-end;
}
.T050 {
    font-size: var(--font-14);
    width: var(--size-90);
    color: var(--color-black-50);
}
.T051 {
    font-size: var(--font-14);
    justify-items: flex-end;
    margin-left: auto;
}
.T051.isMini {
    font-size: var(--font-12);
}
.T052 {
    font-size: var(--font-14);
    margin-left: var(--size-20);
}
.T052 .isLabel {
    background-color: var(--color-black-15);
    margin-left: var(--size-5);
    padding: .1em var(--size-3) 0 var(--size-3);
}
.T052 .isLabel.isRed {
    background-color: var(--color-red-15);
}
.T052 .isLabel.isGreen {
    background-color: var(--color-green-15);
}
.T052 .isLabel.isBlue {
    background-color: var(--color-blue-15);
}
.T053 {
    margin-bottom: var(--size-5);
}
.T054 {
    font-size: var(--font-14);
    margin-left: var(--size-10);
}
.T056 {
    font-size: var(--font-24);
    font-weight: 200;
    width: fit-content;
}
.T056.isLabel {
    background-color: var(--color-black-7);
    padding: .1em var(--size-3) 0 var(--size-3);
}
.T056.isLabel.isGreen {
    background-color: var(--color-green-15);
}
.T056 .isMini {
    font-size: var(--font-15);
}
.T057 .isLabel {
    background-color: var(--color-black-15);
    padding: .1em var(--size-3) 0 var(--size-3);
}
.T057 .isLabel.isGreen {
    background-color: var(--color-green-25);
}
.T058 {
    font-size: var(--font-12);
    color: var(--color-green);
    margin-left: var(--size-2);
}
.T059 {
    font-size: var(--font-14);
    margin-right: var(--size-10);
}
.T060 {
    font-size: var(--font-14);
    margin: 0 var(--size-10);
}
.T061 {
    font-size: var(--font-12);
    background-color: var(--color-black-15);
    color: var(--color-white);
    width: fit-content;
    padding: var(--size-2) var(--size-15);
    border-radius: var(--size-10);
    margin: var(--size-20) auto 0;
    font-weight: 800;
}
.T061 .isBox {
    background-color: var(--color-black-75);
    border-radius: var(--size-10);
    position: absolute;
    top: 0;
    left: calc(-1 * var(--size-30));
    padding: var(--size-2) var(--size-10);
    backdrop-filter: blur(var(--size-5));
}
.T061 .isBox.isGreen {
    background-color: var(--color-green-75);
    color: var(--color-white);
}
.T062 {
    font-size: var(--font-19);
    font-weight: 200;
    font-style: italic;
    opacity: .5;
}
.T063 {
    flex: 1;
    min-width: 0;
    font-size: var(--font-17);
}
.T064 {
    font-size: var(--font-12);
    font-weight: 800;
    color: var(--color-black-50);
    justify-items: flex-end;
    font-style: italic;
}
@container (max-width: var(--size-400)) {
    .C132 .T064:nth-of-type(3) {
        display: none;
    }
}
.T065 {
    font-size: var(--font-19);
    line-height: var(--size-30);
    height: var(--size-30);
    padding:0;
}
.T065 .isMini {
    font-size: var(--font-14);
}
.T066 {
    font-size: var(--font-14);
    color: var(--color-black-25);
}
.T067 {
    color: var(--color-black-25);
    width: 50%;
    line-height: var(--size-30);
}
.T067 .isValue {
    color: var(--color-black);
}
.T067 .isValue.isRed {
    font-weight: 800;
    color: var(--color-red);
}
.T067 .isValue.isBlue {
    font-weight: 800;
    color: var(--color-blue);
}
.T068 {
    font-size: var(--font-14);
    font-weight: 800;
    color: var(--color-white);
    width: fit-content;
    white-space: nowrap;
    line-height: 1;
}
.C152.isFolded .T068 {
    display: none;
}
.T069 {
    font-size: var(--font-12);
    padding: var(--size-2) var(--size-10) 0;
    background-color: var(--color-white-50);
    border-radius: var(--size-8);
    margin-bottom: var(--size-2);
}
.T070 {
    font-weight:400;
}
.T071 {
    font-size: var(--font-12);
    color: var(--color-black-50);
    font-weight: 800;
    margin-bottom: var(--size-10);
    margin-left: var(--size-10);
}
.C159.isMine .T070 {
    font-weight: 700;
}
.C159.isMine .T071 {
    margin-left: 0;
    margin-right: var(--size-10);
}
.T072 {
    font-weight: 800;
    padding-right: var(--size-10);
}
.T073 {
    font-size: var(--font-14);
}
.T074 {
    font-size: var(--font-14);
    line-height: var(--size-30);
    height: var(--size-30);
    width: var(--size-100);
    margin-left: var(--size-20);
}
.T075 {
    width: 100%;
}
.T076 {
    font-size: var(--font-27);
}
.T077 {
    font-size: var(--font-21);
    margin-left: var(--size-10);
}
p.T078 {
    margin-left: auto;
    color: var(--color-white-25);
}
.T078 .isBig {
    font-size: var(--font-21);
}
.T079 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
    background-color: var(--color-white-15);
}
p.T079.isMagenta {
    color: var(--color-magenta);
    background-color: var(--color-magenta-15);
}
p.T079.isBlue {
    color: var(--color-blue);
    background-color: var(--color-blue-25);
}
p.T079.isGreen {
    color: var(--color-green);
    background-color: var(--color-green-25);
}
p.T080 {
    font-size: var(--font-12);
    color: var(--color-white-25);
    margin-right: var(--size-5);
}
p.T080.isGreen {
    color: var(--color-green);
}
p.T080.isYellow {
    color: var(--color-yellow);
}
p.T080.isMagenta {
    color: var(--color-magenta);
}
p.T080.isRed {
    color: var(--color-red);
}
p.T080.isWhite {
    color: var(--color-white);
}
.T081 {
    font-size: var(--font-14);
    font-weight: 800;
}
p.T082 {
    font-size: var(--font-14);
    color: var(--color-black-50);
    justify-items: flex-end;
    margin-left: auto;
    color: var(--color-white-25);
}
.T082 .isBig {
    font-size: var(--font-19);
}
.T083 {
    width: var(--size-160);
    font-weight: 800;
}
.T084 {
    color: var(--color-white);
    font-size: var(--font-17);
    padding: var(--size-10) var(--size-20);
    border-radius: var(--size-15);
    border: var(--size-2) solid var(--color-white-25);
    width: var(--size-220);
}
.T085 {
    font-size: var(--font-17);
    background-color: var(--color-black-15);
    height: var(--size-60);
    width: var(--size-800);
    border-radius: var(--size-20);
    border: var(--size-4) solid var(--color-white-15);
    padding: 0 var(--size-20);
    color: var(--color-white);
    margin-left: var(--size-30);
    transition: 1s;
}
.T085:focus {
    outline: none;
    border: var(--size-4) solid var(--color-green-50);
}
.T085:hover {
    background-color: var(--color-black-50);
    border: var(--size-4) solid var(--color-green-50);
}
p.T086 {
    font-size: var(--font-14);
    color: var(--color-white-25);
}
p.T087 {
    margin-right: var(--size-30);
}
.T088, .C215.isMine .C216 .T088 {
    font-weight: 400;
}
.C216 .T088, .C215.isMine .T088 {
    font-weight: 700;
}
.T089 {
    font-size: var(--font-14);
    margin: 0 var(--size-5);
}
.T090 {
    font-size: var(--font-12);
    margin-left: auto;
}
.T091 {
    font-size: var(--font-8);
    color: var(--color-white);
    font-weight: 800;
    text-align: center;
    line-height: var(--size-25);
}
.T092 {
    font-size: var(--font-17);
    margin-left: var(--size-10);
}
.T093 {
    font-weight: 800;
    margin: var(--size-30) auto var(--size-20) var(--size-60);
    font-size: var(--font-17);
}
.T094 {
    font-weight: 800;
    font-size: var(--font-17);
}
.T095 {
    color: var(--color-black-25);
}
.T095 .isValue {
    font-weight: 800;
    color: var(--color-black);
}
.T095 .isMini {
    font-size: var(--font-12);
    font-weight: 800;
}
.T096 {
    margin-left:var(--size-10);
}
.T097 {
    font-size: var(--font-14);
}
.T098 {
    font-size: var(--font-17);
}