.T000 {
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-size: var(--font-17);
    margin-top: var(--size-10);
}

.T001 {
    color: var(--color-green);
    text-align: center;
    font-size: var(--font-15);
    margin-top: var(--size-5);
}
.T003 {
    font-size: var(--font-14);
}
.T004 {
    font-size: var(--font-14);
    color: var(--color-green);
}
.T005 {
    font-size: var(--font-14);
    margin-left: var(--size-10);
    display: flex;
    align-items: center;
    color: var(--color-black-25);
}
.T006 {
    position: absolute;
    width: fit-content;
    padding: 0 var(--size-5);
    height: var(--size-20);
    line-height: var(--size-20);
    border-radius: var(--size-10);
    top: 0;
    right: 0;
    font-size: var(--font-14);
    margin-left: var(--size-10);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-red);
}
.T007 {
    font-size: var(--font-21);
    width: fit-content;
    margin: 0px;
    font-weight: 700;
    display: inline-flex;
}
.T008 {
    font-size: var(--font-14);
    display: flex;
    align-items: center;
}
.T009 {
    font-size: var(--font-14);
    display: flex;
    align-items: center;
    color: var(--color-black-25);
}
.T010 {
    font-size: var(--font-14);
    width: 100%;
    line-height: var(--size-40);
    padding: 0 var(--size-20);
    color: var(--color-black-50);
    pointer-events: none;
}
.T010:first-of-type {
    text-align: right;
    color: var(--color-green);
}
.T011 {
    font-size: var(--font-21);
    margin-left: var(--size-10);
}
.T011 .isGrey {
    color: var(--color-black-25);
}
.T012 {
    font-size: var(--font-14);
    color: var(--color-black-25);
    justify-self: flex-end;
    margin-left: auto;
}
.T012 .isValue {
    font-size: var(--font-21);
}
.C031.isFolded .T012 {
    display: none;
}
.T013 {
    font-size: var(--font-19);
    margin-right: 3px;
}
.T014 {
    font-size: var(--font-14);
    padding: var(--size-2) var(--size-5);
    color: var(--color-white);
    border-radius: var(--size-8);
    background-color: var(--color-black-25);
}
.T014.isRed {
    background-color: var(--color-magenta);
}
.T014 .isUnit {
    opacity: 0.5;
}
.T015 {
    font-size: var(--font-15);
    color: var(--color-black-25);
}
.T016 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
}
.T017 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
    background-color: var(--color-black-7);
}
.T017.isRed {
    background-color: var(--color-magenta-15);
}
.T017.isGreen {
    background-color: var(--color-green-15);
}
.T017.isBlue {
    background-color: var(--color-blue-15);
}
.T018 {
    font-size: var(--font-14);
    text-decoration: underline;
    font-weight: 800;
}
.T019 {
    font-size: var(--font-12);
    color: var(--color-black-25);
    margin-right: var(--size-5);
}
.T019.isGreen {
    color: var(--color-green);
}
.T019.isYellow {
    color: var(--color-yellow);
}
.T019.isRed {
    color: var(--color-red);
}
.T020 {
    font-size: var(--font-14);
    color: var(--color-black-25);
    justify-self: flex-end;
    margin-left: auto;
    display: none;
}
.T020 .isValue {
    font-size: var(--font-21);
}
.T020 .isBlack {
    color: var(--color-black);
}
.T020 .isRed {
    color: var(--color-red);
}
.C031.isFolded .T020 {
    display: flow-root;
}
.T021 {
    font-size: var(--font-12);
    color: var(--color-black-50);
    font-weight: 800;
}
.T022 {
    font-size: var(--font-14);
    color: var(--color-black);
}