.T000 {
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-size: var(--font-17);
    margin-top: var(--size-10);
}

.T001 {
    color: var(--color-green);
    text-align: center;
    font-size: var(--font-15);
    margin-top: var(--size-5);
}
.T003 {
    font-size: var(--font-14);
}
.T004 {
    font-size: var(--font-14);
    color: var(--color-green);
}
.T005 {
    font-size: var(--font-14);
    margin-left: var(--size-10);
    display: flex;
    align-items: center;
    color: var(--color-black-25);
}
.T006 {
    position: absolute;
    width: fit-content;
    padding: 0 var(--size-5);
    height: var(--size-20);
    line-height: var(--size-20);
    border-radius: var(--size-10);
    top: 0;
    right: 0;
    font-size: var(--font-14);
    margin-left: var(--size-10);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-red);
}
.T007 {
    font-size: var(--font-21);
    width: fit-content;
    margin: 0px;
    font-weight: 700;
    display: inline-flex;
}
.T008 {
    font-size: var(--font-14);
    display: flex;
    align-items: center;
}
.T009 {
    font-size: var(--font-14);
    display: flex;
    align-items: center;
    color: var(--color-black-25);
}
.T010 {
    font-size: var(--font-14);
    width: 100%;
    line-height: var(--size-40);
    padding: 0 var(--size-20);
    color: var(--color-black-50);
    pointer-events: none;
}
.T010:first-of-type {
    text-align: right;
    color: var(--color-green);
}
.T011 {
    font-size: var(--font-21);
    margin-left: var(--size-10);
}
.T011 .isGrey {
    color: var(--color-black-25);
}
.T012 {
    font-size: var(--font-14);
    color: var(--color-black-25);
    justify-self: flex-end;
    margin-left: auto;
}
.T012 .isValue {
    font-size: var(--font-21);
}
.C031.isFolded .T012 {
    display: none;
}
.C031.isClinic .T012 {
    display: none;
}
.C031.isClinic.isActived .T012 {
    display: flow-root;
}
.T013 {
    font-size: var(--font-19);
    margin-right: 3px;
}
.T014 {
    font-size: var(--font-14);
    padding: var(--size-2) var(--size-5);
    color: var(--color-white);
    border-radius: var(--size-8);
    background-color: var(--color-black-15);
}
.T014.isRed {
    background-color: var(--color-magenta);
}
.T014.isBlue {
    background-color: var(--color-blue);
}
.T014.isOldbie {
    background-color: var(--color-green-25);
    color: var(--color-green);
    font-weight: 800;
}
.T014 .isUnit {
    opacity: 0.5;
}
.T015 {
    font-size: var(--font-15);
    color: var(--color-black-25);
}
.T016 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
}
.T017 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
    background-color: var(--color-black-7);
}
.T017.isRed {
    background-color: var(--color-magenta-15);
}
.T017.isGreen {
    background-color: var(--color-green-15);
}
.T017.isBlue {
    background-color: var(--color-blue-15);
}
.T018 {
    font-size: var(--font-14);
    text-decoration: underline;
    font-weight: 800;
}
.T019 {
    font-size: var(--font-12);
    color: var(--color-black-25);
    margin-right: var(--size-5);
}
.T019.isGreen {
    color: var(--color-green);
}
.T019.isYellow {
    color: var(--color-yellow);
}
.T019.isRed {
    color: var(--color-red);
}
.T020 {
    font-size: var(--font-14);
    color: var(--color-black-25);
    justify-self: flex-end;
    margin-left: auto;
    display: none;
}
.T020 .isValue {
    font-size: var(--font-21);
}
.T020 .isBlack {
    color: var(--color-black);
}
.T020 .isRed {
    color: var(--color-red);
}
.C031.isFolded .T020 {
    display: flow-root;
}
.C031.isClinic .T020 {
    display: flow-root;
}
.C031.isClinic.isActived .T020 {
    display: none;
}
.T021 {
    font-size: var(--font-12);
    color: var(--color-black-50);
    font-weight: 800;
}
.T022 {
    font-size: var(--font-14);
    color: var(--color-black);
}
.T023 {
    color: var(--color-black-50);
    margin-right: var(--size-5);
    display: none;
}
.C031.isActived .T023 {
    display: block;
}
.T024 {
    font-size: var(--font-14);
    margin-right: var(--size-5);
    background-color: var(--color-black-7);
    color: var(--color-black-75);
    display: none;
}
.C031.isActived .T024 {
    display: block;
}
.T025 {
    font-size: var(--font-14);
}
.T026 {
    font-size: var(--font-14);
    font-weight: 800;
}
.T027 {
    font-size: var(--font-14);
    text-align: center;
    font-weight: 800;
    color: var(--color-black-50);
}
.T028 {
    font-size: var(--font-24);
    text-align: center;
    line-height: var(--size-60);
    border-radius: var(--size-30);
    margin: var(--size-15) 0;
    transition: .3s;
}
.C055.isSelected .T028 {
    background-color: var(--color-black);
    color: var(--color-white);
    box-shadow: var(--size-5) var(--size-15) var(--size-30) var(--color-black-7);
}
.C055.isToday .T028 {
    background-color: var(--color-red);
    color: var(--color-white);
    box-shadow: var(--size-5) var(--size-15) var(--size-30) var(--color-red-25);
}
.C055.isSelected.isToday .T028  {
    background: repeating-linear-gradient(
        45deg,
        var(--color-red),
        var(--color-red) var(--size-5),
        var(--color-black) var(--size-5),
        var(--color-black) var(--size-10)
    );
    background-size: calc(var(--size-10) * 1.414) calc(var(--size-10) * 1.414);
    animation: diagonalFlow 2s linear infinite;
    position: relative;
    overflow: hidden;
}

.C055.isSelected.isToday .T028::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.08) var(--size-8),
        transparent var(--size-8),
        transparent var(--size-16)
    );
    background-size: calc(var(--size-16) * 1.414) calc(var(--size-16) * 1.414);
    animation: diagonalFlowLight 1.5s linear infinite;
    pointer-events: none;
}
.T029 {
    margin: 0 auto;
    width: fit-content;
    padding: var(--size-5) var(--size-10);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 0 0 var(--size-10) var(--size-15);
    border: var(--size-2) solid var(--color-white);
    border-top: none;
    box-shadow: 0 var(--size-4) var(--size-16) var(--color-black-15);
    transition: .3s;
    opacity: 0.15;
}
.C057:hover .T029 {
    opacity: .75;
}
.T030 {
    padding-right: var(--size-10);
    border-right: var(--size-2) solid var(--color-black-7);
    font-size: var(--font-17);
}
.T031 {
    color: var(--color-black-50);
}
.T032 {
    color: var(--color-black-50);
    width: calc(100% / 7);
    line-height: var(--size-40);
    text-align: center;
}
.T033 {
    font-size: var(--font-19);
    text-align: center;
    margin-top: var(--size-15);
}
.T034 {
    color: var(--color-black-50);
    width: calc(100% / 7);
    line-height: var(--size-50);
    text-align: center;
    border-radius: var(--size-25);
    cursor: pointer;
    transition: .3s;
}
.T034.isSelected {
    color: var(--color-white);
    background-color: var(--color-black);
}
.T034.isToday {
    background-color: var(--color-red);
    color: var(--color-white);
}
.T034:hover {
    background-color: var(--color-blue-15);
}
.T034.isOtherMonth {
    opacity: 0;
}
.T034.isSelected.isToday  {
    background: repeating-linear-gradient(
        45deg,
        var(--color-red),
        var(--color-red) var(--size-5),
        var(--color-black) var(--size-5),
        var(--color-black) var(--size-10)
    );
    background-size: calc(var(--size-10) * 1.414) calc(var(--size-10) * 1.414);
    animation: diagonalFlow 2s linear infinite;
    position: relative;
    overflow: hidden;
}

.T034.isSelected.isToday::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.08) var(--size-8),
        transparent var(--size-8),
        transparent var(--size-16)
    );
    background-size: calc(var(--size-16) * 1.414) calc(var(--size-16) * 1.414);
    animation: diagonalFlowLight 1.5s linear infinite;
    pointer-events: none;
}

@keyframes diagonalFlow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(var(--size-10) * 1.414) 0;
    }
}

@keyframes diagonalFlowLight {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(var(--size-16) * 1.414) 0;
    }
}

.T035 {
    font-size: var(--font-19);
}
.T036 {
    font-size: var(--font-14);
    text-align: right;
    margin-top: var(--size-3);
}
.T037 {
    font-size: var(--font-14);
    text-align: right;
    margin-top: var(--size-10);
    text-decoration: underline;
}
.T038 {
    font-size: var(--font-12);
    color: var(--color-black-25);
    text-align: right;
}
.T039 {
    font-size: var(--font-14);
}
.T040 {
    font-size: var(--font-15);
}
.T042 {
    font-size: var(--font-14);
    background-color: var(--color-black-7);
    padding: .1em var(--size-3) 0 var(--size-3);
}
.T042.isGreen {
    color: var(--color-green);
    background-color: var(--color-green-15);
}
.T042.isOldbie {
    color: var(--color-green);
    background-color: var(--color-green-15);
    font-weight: 800;
}
.T042.isRed {
    color: var(--color-red);
    background-color: var(--color-red-15);
}
.T042 .isBlue {
    color: var(--color-blue);
    background-color: var(--color-blue-15);
}