/* app/uxmason.global.css */

/* 나눔스퀘어네오 웹폰트 - 자체 서버 호스팅 */
@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Tailwind CSS */
@import "tailwindcss";

/* CSS Variables */
:root {
  --background-yellow: #FCFBF7;
  --background-green: #EEF2E3;
  --background-white: #FFF;

  --color-white: #fff;
  --color-white-0: #ffffff00;
  --color-white-3: #ffffff08;
  --color-white-7: #ffffff12;
  --color-white-15: #ffffff26;
  --color-white-25: #ffffff40;
  --color-white-50: #ffffff80;
  --color-white-75: #ffffffbf;

  --color-black: #2B2945;
  --color-black-0: #2B294500;
  --color-black-3: #2B294508;
  --color-black-7: #2B294512;
  --color-black-15: #2B294526;
  --color-black-25: #2B294540;
  --color-black-50: #2B294580;
  --color-black-75: #2B2945bf;

  --color-yellow: #FDC669;
  --color-yellow-0: #FDC66900;
  --color-yellow-3: #FDC66908;
  --color-yellow-7: #FDC66912;
  --color-yellow-15: #FDC66926;
  --color-yellow-25: #FDC66940;
  --color-yellow-50: #FDC66980;
  --color-yellow-75: #FDC669bf;

  --color-green: #AAC559;
  --color-green-0: #AAC55900;
  --color-green-3: #AAC55908;
  --color-green-7: #AAC55912;
  --color-green-15: #AAC55926;
  --color-green-25: #AAC55940;
  --color-green-50: #AAC55980;
  --color-green-75: #AAC559bf;

  --color-blue: #59ABE4;
  --color-blue-0: #59ABE400;
  --color-blue-3: #59ABE408;
  --color-blue-7: #59ABE412;
  --color-blue-15: #59ABE426;
  --color-blue-25: #59ABE440;
  --color-blue-50: #59ABE480;
  --color-blue-75: #59ABE4bf;

  --color-red: #E97453;
  --color-red-0: #E9745300;
  --color-red-3: #E9745308;
  --color-red-7: #E9745312;
  --color-red-15: #E9745326;
  --color-red-25: #E9745340;
  --color-red-50: #E9745380;
  --color-red-75: #E97453bf;

  --color-magenta: #FF8F8D;
  --color-magenta-0: #FF8F8D00;
  --color-magenta-3: #FF8F8D08;
  --color-magenta-7: #FF8F8D12;
  --color-magenta-15: #FF8F8D26;
  --color-magenta-25: #FF8F8D40;
  --color-magenta-50: #FF8F8D80;
  --color-magenta-75: #FF8F8Dbf;

  --color-purple: #C277F2;
  --color-purple-0: #C277F200;
  --color-purple-3: #C277F208;
  --color-purple-7: #C277F212;
  --color-purple-15: #C277F226;
  --color-purple-25: #C277F240;
  --color-purple-50: #C277F280;
  --color-purple-75: #C277F2bf;

  --color-mint: #8CEAC3;
  --color-mint-0: #8CEAC300;
  --color-mint-3: #8CEAC308;
  --color-mint-7: #8CEAC312;
  --color-mint-15: #8CEAC326;
  --color-mint-25: #8CEAC340;
  --color-mint-50: #8CEAC380;
  --color-mint-75: #8CEAC3bf;
  
  --breakpoint: 1980;
  
  --font-12: calc(100vw * 12 / var(--breakpoint));
  --font-14: calc(100vw * 14 / var(--breakpoint));
  --font-15: calc(100vw * 15 / var(--breakpoint));
  --font-17: calc(100vw * 17 / var(--breakpoint));
  --font-19: calc(100vw * 19 / var(--breakpoint));
  --font-21: calc(100vw * 21 / var(--breakpoint));
  --font-24: calc(100vw * 24 / var(--breakpoint));
  --font-27: calc(100vw * 27 / var(--breakpoint));
  --font-32: calc(100vw * 32 / var(--breakpoint));
  --font-40: calc(100vw * 40 / var(--breakpoint));

  --size-2: calc(100vw * 2 / var(--breakpoint));
  --size-3: calc(100vw * 3 / var(--breakpoint));
  --size-4: calc(100vw * 4 / var(--breakpoint));
  --size-5: calc(100vw * 5 / var(--breakpoint));
  --size-6: calc(100vw * 6 / var(--breakpoint));
  --size-8: calc(100vw * 8 / var(--breakpoint));
  --size-10: calc(100vw * 10 / var(--breakpoint));
  --size-15: calc(100vw * 15 / var(--breakpoint));
  --size-16: calc(100vw * 16 / var(--breakpoint));
  --size-20: calc(100vw * 20 / var(--breakpoint));
  --size-25: calc(100vw * 25 / var(--breakpoint));
  --size-26: calc(100vw * 26 / var(--breakpoint));
  --size-28: calc(100vw * 28 / var(--breakpoint));
  --size-30: calc(100vw * 30 / var(--breakpoint));
  --size-35: calc(100vw * 35 / var(--breakpoint));
  --size-40: calc(100vw * 40 / var(--breakpoint));
  --size-45: calc(100vw * 45 / var(--breakpoint));
  --size-50: calc(100vw * 50 / var(--breakpoint));
  --size-60: calc(100vw * 60 / var(--breakpoint));
  --size-70: calc(100vw * 70 / var(--breakpoint));
  --size-80: calc(100vw * 80 / var(--breakpoint));
  --size-90: calc(100vw * 90 / var(--breakpoint));
  --size-100: calc(100vw * 100 / var(--breakpoint));
  --size-120: calc(100vw * 120 / var(--breakpoint));
  --size-140: calc(100vw * 140 / var(--breakpoint));
  --size-150: calc(100vw * 150 / var(--breakpoint));
  --size-160: calc(100vw * 160 / var(--breakpoint));
  --size-180: calc(100vw * 180 / var(--breakpoint));
  --size-200: calc(100vw * 200 / var(--breakpoint));
  --size-240: calc(100vw * 240 / var(--breakpoint));
  --size-250: calc(100vw * 250 / var(--breakpoint));
  --size-280: calc(100vw * 280 / var(--breakpoint));
  --size-300: calc(100vw * 300 / var(--breakpoint));
  --size-320: calc(100vw * 320 / var(--breakpoint));
  --size-330: calc(100vw * 330 / var(--breakpoint));
  --size-350: calc(100vw * 350 / var(--breakpoint));
  --size-360: calc(100vw * 360 / var(--breakpoint));
  --size-380: calc(100vw * 380 / var(--breakpoint));
  --size-400: calc(100vw * 400 / var(--breakpoint));
  --size-410: calc(100vw * 410 / var(--breakpoint));
  --size-440: calc(100vw * 440 / var(--breakpoint));
  --size-450: calc(100vw * 450 / var(--breakpoint));
  --size-460: calc(100vw * 460 / var(--breakpoint));
  --size-480: calc(100vw * 480 / var(--breakpoint));
  --size-500: calc(100vw * 500 / var(--breakpoint));
  --size-520: calc(100vw * 520 / var(--breakpoint));
  --size-600: calc(100vw * 600 / var(--breakpoint));
  --size-640: calc(100vw * 640 / var(--breakpoint));
  --size-680: calc(100vw * 680 / var(--breakpoint));
  --size-700: calc(100vw * 700 / var(--breakpoint));
  --size-720: calc(100vw * 720 / var(--breakpoint));
  --size-750: calc(100vw * 750 / var(--breakpoint));
  --size-760: calc(100vw * 760 / var(--breakpoint));
  --size-800: calc(100vw * 800 / var(--breakpoint));
  --size-900: calc(100vw * 900 / var(--breakpoint));
  --size-1500: calc(100vw * 1500 / var(--breakpoint));

}

@media (min-width: 1980px) {
  :root {
    --font-12: 12px;
    --font-14: 14px;
    --font-15: 15px;
    --font-17: 17px;
    --font-19: 19px;
    --font-21: 21px;
    --font-24: 24px;
    --font-27: 27px;
    --font-32: 32px;
    --font-40: 40px;

    --size-2: 2px;
    --size-3: 3px;
    --size-4: 4px;
    --size-5: 5px;
    --size-6: 6px;
    --size-8: 8px;
    --size-10: 10px;
    --size-15: 15px;
    --size-16: 16px;
    --size-20: 20px;
    --size-25: 25px;
    --size-26: 26px;
    --size-28: 28px;
    --size-30: 30px;
    --size-35: 35px;
    --size-40: 40px;
    --size-45: 45px;
    --size-50: 50px;
    --size-60: 60px;
    --size-70: 70px;
    --size-80: 80px;
    --size-90: 90px;
    --size-100: 100px;
    --size-120: 120px;
    --size-140: 140px;
    --size-150: 150px;
    --size-160: 160px;
    --size-180: 180px;
    --size-200: 200px;
    --size-240: 240px;
    --size-250: 250px;
    --size-280: 280px;
    --size-300: 300px;
    --size-320: 320px;
    --size-330: 330px;
    --size-350: 350px;
    --size-360: 360px;
    --size-380: 380px;
    --size-400: 400px;
    --size-410: 410px;
    --size-440: 440px;
    --size-450: 450px;
    --size-460: 460px;
    --size-480: 480px;
    --size-500: 500px;
    --size-520: 520px;
    --size-600: 600px;
    --size-640: 640px;
    --size-680: 680px;
    --size-700: 700px;
    --size-720: 720px;
    --size-750: 750px;
    --size-760: 760px;
    --size-800: 800px;
    --size-900: 900px;
    --size-1500: 1500px;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--color-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--color-white);
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background-yellow);
  color: var(--color-black);
  font-family: 'NanumSquareNeo', '나눔스퀘어네오', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--font-15);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 700;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 2160px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

div, main, section {
  margin: 0;
  display: flow-root
}

p, h1, h2, h3, h4, h5, h6 {
  display: block;
  padding-top: 0.1em;
}

h1 {
  font-size: var(--font-32);
}

.styleSheet {
  background: url(/images/styleSheet.png) no-repeat;
  background-size: var(--size-1500) var(--size-800);
}

.isBlack {
  color: var(--color-black);
}
.isGrey {
  color: var(--color-black-50);
}
.isGreen {
  color: var(--color-green);
}
.isBlue {
  color: var(--color-blue);
}
.isYellow {
  color: var(--color-yellow);
}
.isRed {
  color: var(--color-red);
}
.isMagenta {
  color: var(--color-magenta);
}
.isMint {
  color: var(--color-mint);
}
.isBold {
  font-weight: 800;
}
.isUnit {
  opacity: 0.25;
}
.isIcon.isReception {
  background-position-x: calc(-1 * var(--size-200));
  background-position-y: calc(-1 * var(--size-40));
}
.isIcon.isCounseling {
  background-position-x: calc(-1 * var(--size-200));
  background-position-y: calc(-1 * var(--size-80));
}
.isIcon.isCheck {
  background-position-x: calc(-1 * var(--size-200));
  background-position-y: calc(-1 * var(--size-120));
}
.isIcon.isClinic {
  background-position-x: calc(-1 * var(--size-200));
  background-position-y: calc(-1 * var(--size-160));
}
.isIcon.isSurgery {
  background-position-x: calc(-1 * var(--size-200));
  background-position-y: calc(-1 * var(--size-200));
}
.isIcon.isSyringe {
  background-position-x: calc(-1 * var(--size-200));
  background-position-y: calc(-1 * var(--size-240));
}
.isIcon.isSetting {
  background-position-x: calc(-1 * var(--size-200));
  background-position-y: calc(-1 * var(--size-360));
}
.isIcon.isReservation {
  background-position-x: calc(-1 * var(--size-240));
  background-position-y: calc(-1 * var(--size-120));
}
.isIcon.isCoin {
  background-position-x: calc(-1 * var(--size-240));
  background-position-y: calc(-1 * var(--size-160));
}
.isIcon.isCheckIn {
  background-position-x: calc(-1 * var(--size-240));
  background-position-y: calc(-1 * var(--size-360));
}
.isIcon.isPaperPlane {
  background-position-x: calc(-1 * var(--size-240));
  background-position-y: calc(-1 * var(--size-400));
}
.isIcon.isRibbon {
  background-position-x: calc(-1 * var(--size-240));
  background-position-y: calc(-1 * var(--size-440));
}
.isIcon.isAlarmClock {
  background-position-x: calc(-1 * var(--size-240));
  background-position-y: calc(-1 * var(--size-480));
}
.isIcon.isExit {
  background-position-x: calc(-1 * var(--size-240));
  background-position-y: calc(-1 * var(--size-520));
}
.isIcon.isBarcode {
  background-position-x: calc(-1 * var(--size-240));
  background-position-y: calc(-1 * var(--size-680));
}
.isIcon.isPin {
  background-position-x: calc(-1 * var(--size-280));
  background-position-y: 0;
}
.isIcon.isCalendar {
  background-position-x: calc(-1 * var(--size-280));
  background-position-y: calc(-1 * var(--size-80));
}
.isIcon.isPencil {
  background-position-x: calc(-1 * var(--size-280));
  background-position-y: calc(-1 * var(--size-120));
}
.isIcon.isWrite {
  background-position-x: calc(-1 * var(--size-280));
  background-position-y: calc(-1 * var(--size-160));
}
.isIcon.isNote {
  background-position-x: calc(-1 * var(--size-280));
  background-position-y: calc(-1 * var(--size-680));
}
.isIcon.isHourglass {
  background-position-x: calc(-1 * var(--size-320));
  background-position-y: calc(-1 * var(--size-80));
}
.isIcon.isAlarm {
  background-position-x: calc(-1 * var(--size-320));
  background-position-y: calc(-1 * var(--size-640));
}
.isIcon.isSignUp {
  background-position-x: calc(-1 * var(--size-360));
  background-position-y: calc(-1 * var(--size-120));
}
.isIcon.isBentoMenu {
  background-position-x: calc(-1 * var(--size-360));
  background-position-y: calc(-1 * var(--size-280));
}
.isIcon.isMagnifier {
  background-position-x: calc(-1 * var(--size-440));
  background-position-y: calc(-1 * var(--size-760));
}
.isIcon.isArrow {
  background-position-x: calc(-1 * var(--size-360));
  background-position-y: calc(-1 * var(--size-720));
}
.isIcon.isArrow.isLeft {
  transform: rotate(180deg);
}


.isIcon.isBig {
  background-position-x: 0;
}
.isIcon.isReception.isBig {
  background-position-y: calc(-1 * var(--size-50));
}
.isIcon.isCounseling.isBig {
  background-position-y: calc(-1 * var(--size-100));
}
.isIcon.isPreCare.isBig {
  background-position-y: calc(-1 * var(--size-150));
}
.isIcon.isProcedure.isBig {
  background-position-y: calc(-1 * var(--size-200));
}
.isIcon.isSurgery.isBig {
  background-position-y: calc(-1 * var(--size-250));
}
.isIcon.isClinic.isBig {
  background-position-y: calc(-1 * var(--size-300));
}
.isIcon.isPostCare.isBig {
  background-position-y: calc(-1 * var(--size-350));
}
.isIcon.isStatistics.isBig {
  background-position-y: calc(-1 * var(--size-400));
}
.isIcon.isSettings.isBig {
  background-position-y: calc(-1 * var(--size-450));
}

.isIcon.isMini {
  background-position-x: calc(-1 * var(--size-750));
}
.isIcon.isMyLocation.isMini {
  background-position-y: calc(-1 * var(--size-140));
}
.isIcon.isChevron.isMini {
  background-position-y: calc(-1 * var(--size-40));
}
.isIcon.isChecked.isMini {
  background-position-y: calc(-1 * var(--size-60));
}
.isIcon.isMegaphone.isMini {
  background-position-y: calc(-1 * var(--size-120));
}
.isIcon.isPin.isMini {
  background-position-y: calc(-1 * var(--size-160));
}
.isIcon.isArrow.isMini {
  background-position-y: 0;
}