/* uxujung Component Styles */
.C2000 {
    display: flex;
    align-items: center;
    margin-left: var(--size-50);
    gap: var(--size-10);
}

.C2001 {
    display: flex;
    align-items: center;
    padding: var(--size-10) var(--size-15) var(--size-10) var(--size-10);
    border-radius: var(--size-15);
    background : linear-gradient(to right, var(--color-green), var(--color-blue));
    transition: .3s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.C2001:hover {
    opacity: 0.5;
}
.C2001.isUnChecked {
    background: var(--color-white-15);
}

.C2002 {
    display: flex;
    align-items: center;
    padding: var(--size-5);
    border-radius: var(--size-10);
    background-color: var(--color-white);
    width: var(--size-30);
    height: var(--size-30);
    margin-right: var(--size-15);
    box-shadow: 0 var(--size-4) var(--size-8) var(--color-black-25);
}
.C2001.isUnChecked .C2002 {
    background-color: var(--color-white-15);
}

.C2003 {
    width: var(--size-20);
    height: var(--size-20);
}

.C2004 {
    display: flex;
    /* background-color: rgb(255, 0, 0); */
    height: var(--size-85); 
}

.C2005 {
    display: flex;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    padding-left: var(--size-30);
    padding-top: var(--size-20);
}

.C2006 {
    display: flex;
    /* background-color: rgb(255, 109, 109); */
    height: var(--size-85);
    align-items: flex-end;
    padding-bottom: var(--size-25);
}

.C2007 {
    display: flex;
    align-items: center;
    /* background-color: rgb(140, 0, 255); */
    /* padding-left: var(--size-30); */
    padding-left: var(--size-10);
}

.C2008 {
    margin-left: var(--size-30);
    /* background-color 대신 background 또는 background-image 사용 */
    background: linear-gradient(to right, var(--color-yellow), var(--color-red)); 
    padding: var(--size-10) var(--size-30);
    border-radius: var(--size-15);
   
    color: var(--color-white);
    font-size: var(--font-19);
    cursor: pointer;
    transition: all 0.2s ease;
}
.C2008:hover {
    opacity: 0.9;
    box-shadow: 0 var(--size-4) var(--size-8) var(--color-black-25);
}

.C2009 {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* padding: var(--size-20); */
    box-sizing: border-box;
    overflow: hidden;
   
}

.C2010 {
    height: calc(var(--size-80) + var(--size-600));
    overflow: hidden;
}

.C2011 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.C2012 {
    display: flex;
    flex-direction: column;
}

.C2013 {
    display: flex;
    background-color: var(--color-black-7);
    width: 100%;
}

.C2014 {
    display: flex;
    flex-direction: column;
}

.C2015 {
    display: flex;
    border-bottom: var(--size-1) solid var(--color-black-15);
    width: 100%;
    position: relative;
    transition: .3s;
    box-sizing: border-box;
}

.C2015:hover {
    background-color: var(--color-blue-15);
    border-bottom: var(--size-1) solid var(--color-black-15);
    outline: var(--size-3) dashed var(--color-blue);
    outline-offset: calc(-1 * var(--size-3));
    cursor: pointer;
}

.C2015:hover .C2016 {
    display: flex;
}

.C2016 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    display: none;
    align-items: center;
    gap: var(--size-8);
    padding: var(--size-5) var(--size-10);
    border-radius: var(--size-15);
    background-color: var(--color-blue-25);
    backdrop-filter: blur(var(--size-25));
}

.C2017 {
    width: var(--size-30);
    height: var(--size-30);
    border-radius: 50%;
    background-color: var(--color-white-15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.C2018 {
    width: var(--size-20);
    height: var(--size-20);
}

.C2016 .C2018 {
    filter: brightness(0) invert(1);
}

.C2019 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-10);
    height: var(--size-120);
    flex-shrink: 0;
    border-top: var(--size-2) solid var(--color-white-15);
}

.C2020 {
    width: var(--size-50);
    height: var(--size-50);
    border-radius: var(--size-15);
    border: none;
    background-color: var(--color-white-7);
    color: var(--color-white);
    font-size: var(--font-17);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.C2020:hover:not(:disabled) {
    background-color: var(--color-white-15);
}

.C2020:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.C2021 {
    width: var(--size-40);
    height: var(--size-40);
    border-radius: var(--size-15);
    border: none;
    background-color: transparent;
    color: var(--color-white);
    font-size: var(--font-17);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.C2021:hover {
    background-color: var(--color-white-7);
}

.C2021.isActive {
    width: var(--size-40);
    height: var(--size-40);
    border-radius: var(--size-15);
    background-color: var(--color-white);
    color: var(--color-black);
}


.C2022 {
    background-color: var(--color-white);
    border-radius: var(--size-15);
    padding: 0;
    box-shadow: 0 var(--size-4) var(--size-12) var(--color-black-25);
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.C2023 {
    width: var(--size-30);
    background-color: var(--color-red);
    border-radius: var(--size-15) 0 0 var(--size-15);
    flex-shrink: 0;
}


.C2023 {
    width: var(--size-60);
    height: var(--size-60);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: var(--size-10);
    border-radius: var(--size-20);
    background: var(--color-white-3);
    box-shadow: 0 var(--size-10) var(--size-40) 0 var(--color-black-25);
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.C2023:hover {
    opacity: .5;
}

.C2023 .C182 {
    width: var(--size-20);
    height: var(--size-20);
    filter: brightness(0) invert(1);
}


.C2024 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--size-20) var(--size-20) var(--size-20) var(--size-15);
    position: relative;
}

.C2032 {
    width: var(--size-70);
    height: var(--size-35);
    object-fit: contain;
    position: absolute;
    top:var(--size-20);
    left:var(--size-20);
}

.C2025 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: var(--size-10);
}

.C2026 {
    width: 100%;
    max-width: var(--size-300);
    height: var(--size-80);
   
    /* 이미지의 선 굵기와 간격을 정밀하게 모사한 그라데이션 */
    background-image: linear-gradient(
        90deg,
        var(--color-black) 0px, var(--color-black) 2px,      /* 시작 선 */
        transparent 2px, transparent 5px,                    /* 넓은 간격 */
        var(--color-black) 5px, var(--color-black) 6px,      /* 얇은 선 */
        transparent 6px, transparent 8px,                    /* 중간 간격 */
        var(--color-black) 8px, var(--color-black) 12px,     /* 굵은 선 */
        transparent 12px, transparent 13px,                  /* 좁은 간격 */
        var(--color-black) 13px, var(--color-black) 14px,    /* 얇은 선 */
        transparent 14px, transparent 17px,                  /* 중간 간격 */
        var(--color-black) 17px, var(--color-black) 23px,    /* 매우 굵은 선 */
        transparent 23px, transparent 25px,                  /* 중간 간격 */
        var(--color-black) 25px, var(--color-black) 26px,    /* 얇은 선 */
        transparent 26px, transparent 27px,                  /* 좁은 간격 */
        var(--color-black) 27px, var(--color-black) 34px,    /* 최대 굵기 선 */
        transparent 34px, transparent 36px,                  /* 중간 간격 */
        var(--color-black) 36px, var(--color-black) 37px,    /* 얇은 선 */
        transparent 37px, transparent 39px,                  /* 중간 간격 */
        var(--color-black) 39px, var(--color-black) 41px,    /* 중간 선 */
        transparent 41px, transparent 42px,                  /* 좁은 간격 */
        var(--color-black) 42px, var(--color-black) 43px,    /* 얇은 선 */
        transparent 43px, transparent 47px,                  /* 넓은 간격 */
        var(--color-black) 47px, var(--color-black) 49px,    /* 중간 선 */
        transparent 49px, transparent 50px                   /* 끝 간격 */
    );
    
    /* 50px 단위의 이 패턴을 가로로 반복시켜 자연스러운 밀도 형성 */
    background-size: 50px 100%; 
    background-repeat: repeat-x;
   
    box-sizing: border-box;
}
.C2027 {
    position: relative;
    width: 100%;
    height: 100%;
}

.C2028 {
    position: absolute;
    top: var(--size-30);
    right: var(--size-30);
    width: var(--size-120);
    height: var(--size-60);
    border-radius: var(--size-15);
    background: linear-gradient(to right, var(--color-yellow), var(--color-red));
    border: none;
    color: var(--color-white);
    font-size: var(--font-19);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.C2028:hover {
    opacity: 0.9;
    box-shadow: 0 var(--size-4) var(--size-8) var(--color-black-25);
}

.C2029 {
    width: var(--size-900);
    height: var(--size-120);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.C2030 {
    display: flex;
    width: 100%;
    height: var(--size-60);
    box-sizing: border-box;
    border-bottom: var(--size-2) solid var(--color-white-15);
}

.C2031 {
    display: flex;
    width: 100%;
    height: var(--size-60);
    box-sizing: border-box;
}

.C2033 {
    position: absolute;
    top: var(--size-20);
    right: var(--size-100);
    width: var(--size-200);
    height: var(--size-60);
    background-color: var(--color-white-7);
    border-radius: var(--size-15);
    display: flex;
    align-items: center;
    gap: var(--size-10);
    padding: var(--size-10);
    box-sizing: border-box;
}

.C2034 {
    width: var(--size-40);
    height: var(--size-40);
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    border: var(--size-2) solid var(--color-white);
}

.C2035 {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    flex: 1;
}

.C2036 {
    width: var(--size-20);
    height: var(--size-20);
    filter: brightness(0) invert(1);
}

.C2037 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-5);
    width: 100%;
    height: 100%;
    position: relative;
}

.C2037 > .T2045:last-of-type {
    margin-right: var(--size-10);
}

.C2038 {
    position: absolute;
    right: var(--size-20);
    top: var(--size-20);
    width: var(--size-60);
    height: var(--size-60);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--size-15);
    background: var(--color-white-3);
    box-shadow: 0 var(--size-10) var(--size-40) 0 var(--color-black-25);
    cursor: pointer;
    transition: .3s;
}

.C2038:hover {
    opacity: .5;
}

.C2039 {
    width: var(--size-40);
    height: var(--size-40);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
    opacity: .5;
 
}


.C2040 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: var(--size-50);
    box-sizing: border-box;
}

.C2041 {
    width: var(--size-440);
    height: var(--size-80);
    border-radius: var(--size-20);
    border: none;
    background: linear-gradient(to right, var(--color-magenta), var(--color-red));
    color: var(--color-white);
    font-size: var(--font-24);
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: var(--size-30);
}

.C2041:hover {
    opacity: 0.9;
    box-shadow: 0 var(--size-4) var(--size-8) var(--color-black-25);
}

.C2042 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-top: var(--size-10);
}

