/* uxujung Text Styles */
.T2000 {
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-size: var(--font-15);
    margin-right: var(--size-10);
  
}

.T2001 {
    font-size: var(--font-14);
    color: var(--color-black);
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.T2004 {
    font-size: var(--font-17);
    margin-right: var(--size-10);
    color: var(--color-white);
}

.T2005 {
    width: var(--size-200);
    height: var(--size-50);
    padding: var(--size-10) var(--size-20);
   /* 패딩을 포함한 전체 너비 유지 */
  
    color: var(--color-white);
    font-size: var(--font-17);
  
    border-radius: var(--size-15);
    border: var(--size-2) solid var(--color-white-25);
}

.T2005:focus {
    outline: none;
    border: var(--size-2) solid var(--color-blue-75);
}

.T2006 {
    width: var(--size-170);
    height: var(--size-50);
    padding: var(--size-10) var(--size-20);
    box-sizing: border-box; /* 패딩을 포함한 전체 너비 유지 */
  
    color: var(--color-white);
    font-size: var(--font-17);
  
    border-radius: var(--size-15);
    border: var(--size-2) solid var(--color-white-25);
}

.T2006:focus {
    outline: none;
    border: var(--size-2) solid var(--color-blue-75);
}

.T2010 {
    padding: 0 var(--size-10);
    height: var(--size-80);
    text-align: center;
    font-size: var(--font-17);
    font-weight: 700;
    color: var(--color-white-50);
    border-bottom: var(--size-2) solid var(--color-white-15);
    border-right: var(--size-2) solid var(--color-white-7);
    width: 10%;
    flex: 0 0 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.T2010.is15p{
    width: 15%;
    flex: 0 0 15%;
}

.T2010.isFixed150 {
    width: var(--size-150);
    flex: 0 0 var(--size-150);
}


.T2011 {
    padding: 0 var(--size-10);
    height: var(--size-60);
    text-align: center;
    font-size: var(--font-14);
    color: var(--color-white);
    width: 10%;
    flex: 0 0 10%;
    box-sizing: border-box;
    background-color: var(--color-black-7);
    border-right: var(--size-2) solid var(--color-white-7);
    border-bottom: var(--size-2) solid var(--color-white-7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.T2011.is15p{
    width: 15%;
    flex: 0 0 15%;
}

.T2011.isFixed150 {
    width: var(--size-150);
    flex: 0 0 var(--size-150);
}

.T2012 {
    padding: 0 var(--size-10);
    height: var(--size-60);
    text-align: center;
    font-size: var(--font-14);
    font-weight: 500;
    width: 10%;
    flex: 0 0 10%;
    box-sizing: border-box;
    background-color: var(--color-black-7);
    border-bottom: var(--size-2) solid var(--color-white-7);
    border-right: var(--size-2) solid var(--color-white-7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.T2012.isFixed150 {
    width: var(--size-150);
    flex: 0 0 var(--size-150);
}

.T2012.isRegistered {
    color: var(--color-green);
}

.T2012.isDisconnected {
    color: var(--color-magenta);
}

.T2020 {
    font-size: var(--font-15);
    color: var(--color-white);
    font-weight: 500;
    white-space: nowrap;
}

.T2021 {
    font-size: var(--font-24);
    font-weight: 700;
    color: var(--color-red);
    margin-bottom: var(--size-20);
}

.T2021Script {
    font-size: var(--font-18);
    font-style: italic;
    font-family: 'NanumSquareNeo', sans-serif;
}

.T2022 {
    font-size: var(--font-15);
    color: var(--color-black);
    letter-spacing: var(--size-2);
    text-align: center;
}
.T2023 {
    font-size: var(--font-15);
    color: var(--color-black);
   
}
.T2027 {
    position: absolute;
    top: var(--size-40);
    left: var(--size-40);
    font-size: var(--font-15);
    color: var(--color-white);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.T2027Phone {
    text-decoration: underline;
    text-underline-offset: var(--size-2);
}

.T2029 {
    flex: 0 0 15%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-17);
    color: var(--color-white-50);
    border-right: var(--size-2) solid var(--color-white-7);
    border-bottom: var(--size-1) solid var(--color-white-15);
    box-sizing: border-box;
}

.T2029.is20p {
    flex: 0 0 20%;
    width: 20%;
}

.T2029:last-child {
    border-right: none;
}

.T2030 {
    flex: 0 0 15%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-15);
    color: var(--color-white);
    border-right: var(--size-2) solid var(--color-white-7);
    box-sizing: border-box;
}

.T2030.is20p {
    flex: 0 0 20%;
    width: 20%;
}

.T2030:last-child {
    border-right: none;
}

.T2031 {
    flex: 0 0 15%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-15);
    color: var(--color-white);
    border-right: var(--size-2) solid var(--color-white-7);
    box-sizing: border-box;
}

.T2031.is20p {
    flex: 0 0 20%;
    width: 20%;
}

.T2032 {
    flex: 0 0 15%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-15);
    color: var(--color-green);
    border-right: var(--size-1) solid var(--color-white-15);
    box-sizing: border-box;
}

.T2032:last-child {
    border-right: none;
}

.T2040 {
    font-size: var(--font-12);
    color: var(--color-white-50) !important;
    margin: 0;
    line-height: 1.2;
}

.C2035 .T2040 {
    color: var(--color-white-50) !important;
}

.T2041 {
    font-size: var(--font-15);
    color: var(--color-white);
    margin: 0;
    line-height: 1.2;
}

.T2042 {
    color: var(--color-white-25);
}

.T2043 {
    font-size: var(--font-27);
    color: var(--color-white);
    margin-right: var(--size-10);
}


.T2044 {
    font-size: var(--font-15);
    color: var(--color-white);
    background-color: var(--color-magenta);
    padding: var(--size-5);
    border-radius: var(--size-10);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.T2045 {
    font-size: var(--font-15);
    color: var(--color-white);
    background-color: var(--color-white-25);
    padding: var(--size-5);
    border-radius: var(--size-10);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.T2046 {
    font-size: var(--font-17);
    color: var(--color-white-50);
}

.C2037 .T2046 {
    color: var(--color-white-50) !important;
}

.T2047 {
    color: var(--color-white-50);
}

.T2048 {
    font-size: var(--font-21);
    color: var(--color-white);
    text-align: center;
    margin: 0;
}

.T2049 {
    font-size: var(--font-15);
    color: var(--color-white-50) !important;
    text-align: center;
    margin: 0;
    line-height: 1.5;
}

.T2050 {
    font-size: var(--font-32);
    color: var(--color-white);
    white-space: nowrap;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.T2051 {
    font-size: var(--font-19);
    color: var(--color-white);
    position: relative;
}

.T2055 {
    font-size: var(--font-29);
    color: var(--color-red);
}

.T2056,
.T2059,
.T2068 {
    padding-left: var(--size-85);
    margin-top: var(--size-40);
    font-size: var(--font-14);
    color: var(--color-red);
}

.T2057 {
    font-size: var(--font-14);
    color: var(--color-black-50);
}

.T2071 {
    color: var(--color-red);
}

.T2058 {
    font-size: var(--font-14);
    color: var(--color-black);
}

.T2060,
.T2062 {
    font-size: var(--font-14);
    color: var(--color-black-50);
}

.T2061,
.T2063 {
    color: var(--color-black);
}

.T2064 {
    color: var(--color-black-25);
}

.T2065 {
    font-size: var(--font-14);
    color: var(--color-black-50);
    padding-left: var(--size-20);
}

.T2066 {
    color: var(--color-black-50);
}

.T2067 {
    font-size: var(--font-14);
    color: var(--color-green-25);
    padding-left: var(--size-20);
}

.T2069 {
    font-size: var(--font-14);
    color: var(--color-black-50);
    display: flex;
    align-items: center;
    gap: var(--size-10);
}

.T2069 .isIMaskBlueMint.isCheck {
    width: var(--size-20);
    height: var(--size-20);
    flex-shrink: 0;
}

.T2070 {
    color: var(--color-black-25);
}